[2012-07-16 03:06] melban opened #1 "Background Script Errors on Reload"
I get the following two errors when reloading my extension in developer mode.  If I add some code to kango/browsers.js the issue goes away but i'm guessing it is something to do with my version being a beta.  This might just be a heads up for a future version of Chrome.  If I'm viewing the console of my background page I get these two errors.  If I refresh the background page by simply hitting F5

[2012-07-27 17:25] melban opened #2 "Extension not Compatible with Firefox 14.0.1 or 14.0.0"
My extension is working fine with Firefox when installing the XPI file as long as I'm not building it when the 'update_path_url' setting is not set within extension_info.json.  When I am using the 'update_path_url' setting I keep getting the error message that my extension is not compatible with Firefox 14.0.1.   The extension can be found here for review.  http://pschrome.com/extension/

Here is

[2012-08-03 21:37] sboc opened #3 "Safari 6 popup"
In Safari 6 - create an extension with a popover and install it.

Launch Safari 6 and click the red X to close/hide it. Open it again. Now popups no longer work.

[2012-08-04 21:18] sboc commented on #3
I've actually found a workaround for this.

[code]

seems to do the trick for now, however, does not work with multiple windows.

[2012-08-05 12:50] gilkagan opened #4 "working with frames"
my addon is supposed to work on website with frames.
i dispatch an event as a result of another event and supposed to do something with the HTML
the listener is added for each frame matching the url pattern (all from a certain domain)

in Chrome, when i send the message, it is received by all frames, and then i can do some logic
in Firefox, however, the message is only received by the frame actual

[2012-08-07 20:12] akrylysov commented on #2
Please take a look at http://kangoextensions.com/docs/general/autoupdating-extensions.html
Firefox requires https 'update_path_url'

[2012-08-07 20:12] #2 closed, assigned to nobody

[2012-08-07 20:30] akrylysov commented on #3
Fixed in 0.9.8

[2012-08-07 20:30] #3 closed, assigned to akrylysov

[2012-08-08 11:10] akrylysov commented on #1
Seems all is ok with the latest dev Chrome, if not, you shoud create bug report at https://code.google.com/p/chromium/issues/ because it's Chrome issue.

[2012-08-08 11:10] #1 closed, assigned to akrylysov

[2012-08-13 11:39] katspaugh opened #5 "Options page?"
In Chrome extensions you can specify the options page (visible from the Chrome extensions manager). See http://developer.chrome.com/extensions/options.html

Is it going to be supported in Kango framework?

[2012-08-13 11:48] akrylysov commented on #5
Will be implemented in next versions. Right now you can use remote HTML and content script to make options.

[2012-08-13 12:22] christianromeni opened #6 "JavaScrit and CSS before load"
Is there going to be a way tom implement JS and CSS before the website is completely loaded?
I would like to modify a website, but the old style would be displayed before, and I dont want that.

[2012-08-14 09:03] akrylysov commented on #6
Impossible in v0.9.8, but we will add ability to run content scripts before DOMContentLoaded event in future versions.

[2012-08-14 09:05] christianromeni commented on #6
Good to hear that... Do you have an estimate when this will happen?

[2012-08-15 06:34] akrylysov commented on #6
No exact ETA right now (we need some research work in IE and FF), will update this issue when some details will be available.

[2012-08-15 07:02] christianromeni commented on #6
That would be really great.... If this is available I'll use Kango for my Projects....Even if IE is left out for the moment :)

[2012-08-22 00:04] jason0x90 opened #7 "Firefox 13 Popup with Kango 0.9.8"
In Firefox 13 there appears to be an issue where the Popup appears and then disappears, while running Kango 0.9.8.  Once upgraded to Firefox 14, issue went away.

[2012-08-23 06:42] akrylysov commented on #7
Can't reproduce, what is your OS version?

[2012-09-06 05:04] ramiisc opened #8 "problem with iframes"
background script sends message to the content script of parent window only. but not to the content script of iframes. how is it possible  make back ground script send message to the particular iframe?

[2012-09-06 07:33] akrylysov commented on #4
Will be fixed in 1.0.

[2012-09-06 07:35] akrylysov commented on #8
Duplicate to issues #4.

[2012-09-06 07:35] #8 closed, assigned to akrylysov

[2012-09-10 10:26] ramiisc opened #9 "Ajax post method"
I want to make ajax call using post method but the problem is i am unable to set  post parameters dynamically.  Could please suggest how to do it?

[2012-09-10 10:36] akrylysov commented on #9
Please attach code example.

[2012-09-10 10:50] ramiisc commented on #9
here is my code:
var username = document.getElementById("username");
    var password = document.getElementById("password");
    var paramsString = "{"+"username:"+username+","+"password:"+password+"}";
    var details = {
        method: 'POST',
        url:http://localhost:9090/ReDesignPlugin/LoginController ,
        async: false,
        params: paramsString,
        headers: {'If-Modified-Sin

[2012-09-10 10:56] ramiisc commented on #9
i am reading values like
var username = document.getElementById("username").value;
var password = document.getElementById("password").value;

[2012-09-10 11:07] akrylysov commented on #9
What the problem? What do you mean "post parameters dynamically"?

[2012-09-11 04:56] ramiisc commented on #9
The above code is not working. In the kango documentation, you set the ajax post method  with static parameters wwith values like  params: {'param1': '1', 'param2': '2'}, but i want to set these parameters  dynamically reading from the html form like
var username = document.getElementById("username");
var password = document.getElementById("password");
paramsString = "{"+"username:"+username+","+"

[2012-09-11 06:41] akrylysov commented on #9
It's not Kango related issue. You should use document.getElementById("username").value. Please use http://stackoverflow.com/ for such questions in future.

[2012-09-11 06:41] #9 closed, assigned to akrylysov

[2012-09-11 06:46] ramiisc commented on #9
i have committed mistake at paramsString = "{"+"username:"+username+","+"password:"+password+"}". I came to kmow that you have used key value pair object like paramsString = {"username":username, "password":password }. I pasted wrong one.

[2012-09-11 06:46] ramiisc commented on #9
thanks for your quick support.

[2012-09-11 12:49] ramiisc opened #10 "working with cookies in firefox"
hi,
       I have set cookies for popup so that the popup remembers username and password. Reading from Cookies and pre filling the username and password in popup works fine in chrome and safari where as firefox is not reading from cookies. I am using firefox 14.0.1 , safari 5.1.7, and chrome 21.0.

[2012-09-11 12:51] akrylysov commented on #10
You should use kango.storage instead cookies.

[2012-09-11 12:51] #10 closed, assigned to nobody

[2012-09-13 04:03] propostaff opened #11 "Ошибки в файрфокс 15+"
При написании расширения в файрфоксе вылазила ошибка:

Error: Exposing chrome JS objects to content without **exposedProps** is insecure and deprecated. See https://developer.mozilla.org/en/XPConnect_wrappers for more information.

Покопался, такая-же ошибка и при стандартом расширении MessagingDemo

Скриншот: http://s1.hostingkartinok.com/uploads/images/2012/09/7b3d5743ce3daa2a44dff8669d07bef8.jp

[2012-09-13 04:55] akrylysov commented on #11
Fixed in 0.9.9.

[2012-09-13 04:55] #11 closed, assigned to akrylysov

[2012-09-19 12:11] juanjbarrionuevo opened #12 "Firefox, popup window and scrollbar (Kango 0.9.8)"
I have an issue in Firefox browser with the popup window: the vertical scrollbar doesn't appear.
It's an intentional behavior?
It's possible to change that behavior?
In Chrome, Opera and Safari browsers, the scrollbar appears correctly and allow see all the content of the page (popup.html).

[2012-09-20 10:44] akrylysov commented on #12
Fixed in v0.9.9.

[2012-09-20 10:44] #12 closed, assigned to akrylysov

[2012-09-20 11:56] juanjbarrionuevo commented on #12
Do you know the release date of kango 0.9.9?

[2012-09-24 10:01] akrylysov commented on #5
You can download new version at http://kangoextensions.com/kango/kango-0.9.9-public.zip

## Settings API

Settings API in beta stage now and it's not documented.

To enable Options page you should add "options_page" key to extension_info.json.
HTML page should be named "options.html".
You can open Options page programmatically: kango.ui.optionsPage.open();

Example:
extension_info.json::
{
    ...

[2012-09-24 10:01] #5 closed, assigned to akrylysov

[2012-09-26 04:02] #7 closed, assigned to akrylysov

[2012-09-29 00:00] braco opened #13 "are content scripts sandboxed?"
content.js:

[code]

external_script.js:

[code]

output:

[code]

any idea whats going on?

[2012-09-29 00:10] braco opened #14 "content scripts and kango object"
Why do content scripts not have access to the kango API/object?

[2012-09-29 00:27] akrylysov commented on #14
In content scripts you have access only to some methods. See http://kangoextensions.com/docs/general/content-scripts.html for more details.

[2012-09-29 00:27] #14 closed, assigned to akrylysov

[2012-09-29 00:32] akrylysov commented on #13
All content scripts are sandboxed. If you want to include external script, you should use kango.xhr + eval.

[2012-09-29 00:32] #13 closed, assigned to akrylysov

[2012-09-29 02:08] braco commented on #13
@kadot, why not expose a reference between the sandbox and main context?

[2012-09-29 03:26] braco commented on #13
Firefox 15 throws this warning:

[code]

when accessing data.response here:

[code]

https://developer.mozilla.org/en-US/docs/XPConnect_wrappers#__exposedProps__

if script DOM injection doesnt work and something like unsafeWindow isnt exposed, it would be very nice if there was a built in way to load external scripts without a hassle. this could be used for google-hosted jquery and whatever else

[2012-09-29 03:32] braco commented on #13
For anyone finding this thread in the future, the context still needs to be passed in:

[code]

which seems to (??) eliminate the Firefox warning above.

[2012-09-29 08:18] akrylysov commented on #13
**exposedProps** issue fixed in v 0.9.9

[2012-10-01 13:58] jupiterit opened #15 "keeping alive popup content"
How can i keep alive popup content ??

When popup disappears caused by any click on some other part of browser page i need it continues to work, in the popup page i developed a streaming player and i need it continues to work when it loses focus too and if i didn't close popup with "KangoAPI.closeWindow()" when I click on browserButton (button in toolbar) it should recover the previus opened  popu

[2012-10-01 14:32] jupiterit opened #16 "KangoAPI.closeWindow() doesn't work on Chrome"
KangoAPI.closeWindow() sems doesn't work on Chrome v. 22.0.1229.79 m (on Windows XP) and Chrome 18.0.1025.168 (Build 134367 Linux)  (on Ubuntu 10.04)

my popup html:

in the head tag im including kango-ui/kango_api.js script
in the body i am calling "KangoAPI.closeWindow()" function by click on button

it works fine on firefox v. 15.0.1 (on Windows XP and Linux  equipped with "Ubuntu 10.0.4")

[2012-10-02 09:10] jupiterit commented on #15
no need reply, i am new about this kind of develop. It is first time i am interesting in extensions browser world.

I understood the scope about backgound page and it is the answer to my question.

[2012-10-02 11:03] jupiterit commented on #16
no need reply, it works fine

[2012-10-02 11:13] jupiterit opened #17 "kango.console.log - No output string to browser console."
On firefox v. 15.0.1 an chrome v. 18.0.1025.168 (Build 134367 Linux),both on linux equipped with Ubuntu 10.04

A part of my code in main.js:

kango.ui.browserButton.addEventListener(kango.ui.browserButton.event.Command, function() {
    kango.console.log('ciao1');
    alert('ciao2');
});

alert window is called but any output on browser console

[2012-10-08 02:42] braco opened #18 "Banned element in install.rdf"
When uploading the generated xpi to addons.mozilla.org:

[code]

when removing update_url from extension_info.json:

[code]

how can we host Kango generated files in the proper update channels?

[2012-10-08 02:44] braco commented on #11
@kadot: where is 0.9.9? Is there any chance you'll host the code in Github to make updates easier in the future?

[2012-10-08 13:44] braco commented on #18
This is also a problem in the Chrome Web Store, which requires that line removed and format is changed to .zip.

Maybe Kango should produce chrome-web-store.zip and mozilla-extensions-site.zip for uploading to those third parties?

[2012-10-10 12:12] akrylysov commented on #18
Please attach project that produce "ValueError: Expecting property name: line 14 column 3 (char 319)".

We will think about it, usually developers have addons with update_url_path or without it, not both.

[2012-10-10 12:13] #16 closed, assigned to akrylysov

[2012-10-10 12:14] #15 closed, assigned to akrylysov

[2012-10-10 12:18] akrylysov commented on #17
In Chrome to see console you shoud open Tools -> Extensions, turn on "Developer mode" and click to "background.html" of your extesnion.
In Firefox you should open Tools -> Web Developer -> Error Console.

[2012-10-10 12:18] #17 closed, assigned to akrylysov

[2012-10-10 12:57] melban opened #19 "TypeError: kango.getExtensionInfo is not a function"
Firefox 16.0
Kango: 0.9.8
OS: Windows XP

From a content script I'm trying to run "kango.getExtensionInfo()" and I receive the message "TypeError: kango.getExtensionInfo is not a function".  Sample code below.  I have been calling getExtensionInfo() from a background script on FF 16.0 successfully.

var stateWatcher = setInterval(function()
{
    if (document.readyState === "complete")
    {

[2012-10-10 15:24] akrylysov commented on #19
Not a bug, only some APIs available from content scripts. More details at http://kangoextensions.com/docs/general/content-scripts.html.

[code]

You don't need to do that because content scripts runs on DOMContentLoaded event.

[2012-10-10 15:24] #19 closed, assigned to nobody

[2012-10-11 14:42] krutikashah commented on #6
Any updates? I was looking for a way to be able to intercept and/or block  resource requests before the DOMContentLoaded event.
Thanks

[2012-10-11 17:30] melban commented on #19
Thank you very much for pointing out my easy mistake.  Thanks again for
the great tool in building multi-browser extensions.  I look forward to
the future of KangoExtensions and the possibility to use it for a paying
project so I can pass on some cash to you.

Shelby

On 10/10/2012 11:24 AM, Artem Krylysov wrote:

[2012-10-15 13:29] akrylysov commented on #13
Technical limitation of Chrome, Safari and Opera.

[2012-10-15 13:30] akrylysov commented on #4
Fixed in 1.0.

[2012-10-15 13:30] #4 closed, assigned to akrylysov

[2012-10-15 13:36] akrylysov commented on #6
Not implemented yet, but you will not be able to intercept and/or block resources even if you can load your content script before DOMContentLoaded.

[2012-10-23 16:53] melban commented on #18
I've found that Chrome 22 does not allow my extensions to update using the updateURL setting but rather mandates that my extension be listed in the Chrome Webstore.  Since I had an install base I had to add my extension to the webstore with my Extension ID in the manifest.json file so that when I point to the new updateURL in my hosted .crx file all my users would then pick up with the Webstore ho

[2012-10-25 07:31] rafomundo opened #20 "Error (and Extension crash): "can't access dead object""
KangoExtensions seems to have a huge problem with Firefox 16+,
i get always the following error and the extension stops working:

US: can't access dead object
@chrome://xxxxx_kango/content/includes/userscript_client.js:12
@chrome://xxxxx_kango/content/includes/userscript_client.js:11
@chrome://xxxxx_kango/content/includes/userscript_client.js:11
@chrome://xxxxx_kango/content/includes/invoke_async_

[2012-10-25 07:54] akrylysov commented on #20
Plese give link to your XPI or send sources to extensions@kangoextensions.com

[2012-10-30 07:08] akrylysov commented on #20
Could you please tell more about how you fixed "dead objects" issue?

[2012-11-08 12:06] nadavsn opened #21 "Conflict with Google's "Mutation Summary" library"
Google's "Mutation Summary" library used to make DOM Mutation Observers simpler, just crashes Kango when it's loaded and executed. It's probably conflicting with Kango's own scripts.

On Google Code: http://code.google.com/p/mutation-summary/source/browse/mutation_summary.js

[2012-11-08 12:11] akrylysov commented on #21
In which browser i can reproduce the issue?

[2012-11-08 12:16] nadavsn commented on #21
Almost every browser, I used Firefox (16.0.2), as for Chrome I know mutation observers are supported from Chrome v18.

In my own source it was `@require`d in a content script. Once it was included, everything past it just didn't work, for example I tried to `alert('foobar')`.

[2012-11-08 17:21] nadavsn commented on #21
Is anything found? I thought there's a way to separate the library from Kango, but I'm not sure how to do this

[2012-11-13 03:49] braco commented on #18
@artemkrylysov: the problem is that the stores (chrome & mozilla) require that there are no updateURL directives, but if you remove them, kango won't compile. I guess the build process is now: run Kango, edit archive to remove updateURL, save, upload?

edit: this seems to be fixed with the new version of Kango if the generator is run from scratch.

[2012-11-13 08:02] akrylysov commented on #21
Our team a little bit busy right now, we will review this issue later.

[2012-11-13 16:02] braco opened #22 "Chrome Web Store: An error occurred: No manifest found in package. Please make sure to put manifest.json at the root directory of the zip package."
Trouble uploading packages to both Chrome Web Store and Mozilla Add-ons.

From Chrome Store: "An error occurred: No manifest found in package. Please make sure to put manifest.json at the root directory of the zip package."

This is a very important problem to fix since vendors are moving toward app-store-only extension models. Kango is currently unusable for recent Chrome versions without manuall

[2012-11-13 16:59] nadavsn commented on #21
I'll wait, no problem

[2012-11-15 07:43] RuudBurger opened #23 "dispatchMessage doesn't work in Chrome"
The source for this problem can be found here: https://github.com/RuudBurger/CouchPotatoExtension

The problem seems to be when using the browserbutton and current tab.
If I add a click event on the browserbutton that triggers this function:

`kango.browser.tabs.getCurrent(function(tab) {
      tab.dispatchMessage('showiFrame', 'data');
});`

It doesn't get fired in the content script in Chrome (w

[2012-11-15 07:59] akrylysov commented on #23
Works fine for:

[code]

What is your OS and browser version? Which URLs i should test?

[2012-11-15 08:07] RuudBurger commented on #23
Ah man, I always hate when people don't add there version stuff and now I do it myself ;)
Chrome Version 23.0.1271.64 on OSX, like I said, the same code works in Firefox.

[2012-11-15 08:18] RuudBurger commented on #23
Is it possible that Chrome has different scoping?
For example this seems to work in Firefox but not in Chrome:

[code]

On a different note, logging is really hard when your used to Firebug :D. Is there a way to log the full object, so you see what is in it and not "[object Object]" or something like that.

Thanks btw for the nice framework, really easy to make something. Looking forward to more c

[2012-11-15 08:22] akrylysov commented on #23
kango.browser.tabs.getCurrent works asynchronously in Chrome so when you trying to use it - it is undefined. Try:

[code]

[2012-11-15 08:58] RuudBurger commented on #23
Yeah that what I did after. Just would be nice to do `var tab = kango.browser.tabs.getCurrent()`, but I assume this is done because of some inner workings / browser differences.

[2012-11-15 08:59] akrylysov commented on #23
Yes, it's a technical limitation of some browsers.

[2012-11-15 21:25] RuudBurger commented on #23
Seems like it doesn't work with the opened tabs after installing the new crx file. Refreshing a tab doesn't work. Shutting down the tabs and opening a new one works.
Thanks for the help though. This is closed for me as I can work around this issue ;)

[2012-11-15 21:25] #23 closed, assigned to akrylysov

[2012-11-15 21:26] bnic commented on #22
Same issue with Chrome store.  Added manifest and fiddled with paths but no luck.

Zipping up the files inside the build/output/chrome folder worked.

[2012-11-16 09:30] akrylysov commented on #22
Works fine, seems you doing something wrong, please send your .zip to extensions@kangoextensions.com

[2012-11-16 09:42] #20 closed, assigned to akrylysov

[2012-11-27 21:31] braco commented on #22
@artemkrylysov: it happens with a default scaffold. manifest.json isn't in the root folder of the xpi package. Is this incorrect?

[2012-11-27 21:33] braco opened #24 "kohls breaks Kango?"
Default scaffold project with include: *

content.js never fires on kohls.com pages:

http://www.kohls.com/product/prd-1110266/ab-studio-striped-sweaterdress.jsp

It's very strange, can anyone confirm this? Crossrider seems ok.

[2012-11-27 22:28] bnic commented on #22
I zipped the chrome folder. Didnt use the packages
On Nov 27, 2012 1:31 PM, "braco" notifications@github.com wrote:

[2012-11-28 16:51] xurei opened #25 "Invalid value for 'content_security_policy'"
When I try to build my extension or any of the samples, I got this :
Building chrome extension
Extension Packaging Error

Invalid value for 'content_security_policy'.
sh: 1: /usr/bin/chromium-browser --pack-extension=/home/olivier/git/gweezy-services/Gweezy/addon/kango/framework/samples/ChristmasTree/output/chrome --pack-extension-key=/home/olivier/git/gweezy-services/Gweezy/addon/kango/framework/

[2012-11-28 18:07] akrylysov commented on #25
You should update your Chrome/Chromium to the latest version.

[2012-11-28 18:07] #25 closed, assigned to akrylysov

[2012-11-28 18:11] akrylysov commented on #22
XPI is Firefox extension, you should zip output/chrome directory. If it doesn't help - please send zip to our email.

[2012-11-29 20:17] braco commented on #22
This helped. Humbly suggest automatically zipping the folder and naming it chrome-webstore.zip, as all Chrome extensions need to follow this follow this distribution path now. Thanks!

[2012-11-30 03:45] #22 closed, assigned to akrylysov

[2012-12-03 10:03] akrylysov commented on #24
Works fine for me. How can i reproduce it? What is your browser and OS versions? Please send us demo extension to extensions@kangoextensions.com

[2012-12-07 14:08] Nafania opened #26 "@include not working in firefox"
I have a content script
In header of it i have

// ==UserScript==
// @name kinopoisk
// @include http://www.kinopoisk.ru
// ==/UserScript==

kango.console.log('kinopoisk loaded');
....

in extension_info.js i have
    "content_scripts": [
        "/js/kinopoisk.js"
    ]

but firefox won't load this script. I don't have 'kinopoisk loaded' in console, but chrome and opera works fine.

[2012-12-07 14:27] akrylysov commented on #26
Works for me. Are you trying to view logs in Web Console or in Error Console (you should use second http://kangoextensions.com/docs/api-reference/kango-console.html#firefox). If it still doesn't works - please send your XPI to extensions@kangoextensions.com

[2012-12-07 14:36] Nafania commented on #26
In error console of course. I sent you xpi.

[2012-12-07 14:49] akrylysov commented on #26
Seems Firefox version of Kango don't recognize path with front slash. Replace "/js/kinomania.js" etc. to "js/kinomania.js" and it will works.
Btw, since Kango 1.0 you can load jQuery and other libs using @require header key (see https://github.com/KangoExtensions/kango-samples/blob/master/ChristmasTree/src/common/tree.js).

[2012-12-07 14:49] #26 closed, assigned to akrylysov

[2012-12-07 14:54] Nafania commented on #26
Спасибо, теперь все отлично.
Я думаю, что такой момент стоит указать в документации.

Большое вам спасибо за фреймворк.

07.12.2012 18:49, Artem Krylysov пишет:

[2012-12-10 20:01] 2is10 opened #27 "Bookmarks API?"
Any plans to add a bookmarks API? Hoping for roughly what Chrome and Crossrider support: creating/reading/searching/moving/renaming bookmarks and bookmark folders.

Chrome: http://developer.chrome.com/extensions/bookmarks.html
Crossrider: http://crossrider.com/apps/17632/ide (see sample code in background.js)

I think Safari's the only browser that doesn't expose bookmarks in an API.

[2012-12-18 14:56] akrylysov commented on #27
We don't plan add this feature because it's impossible to implement it on all browsers.

[2012-12-18 14:57] #27 closed, assigned to akrylysov

[2012-12-27 09:32] Thomas131 opened #28 "content_security_policy error"
Hello,
When I try to build the example extension I get an error:

admini@laptop2:~/kextensions$ ./kango.py build ./samples/ChristmasTree/
Contact extensions@kangoextensions.com to enable IE support.
Building chrome extension
Extension Packaging Error

Invalid value for 'content_security_policy'.
sh: 1: /usr/bin/chromium-browser --pack-extension=/home/admini/kextensions/samples/ChristmasTree/output

[2012-12-27 10:00] akrylysov commented on #28
Update your Chromium to the latest version.

[2012-12-27 10:00] #28 closed, assigned to akrylysov

[2013-01-10 15:18] Nafania opened #29 "В Опере не работает require"
Имеется ряд контент скриптов.
Один грузится всегда, другие только не определенных сайтах.
Который грузится всегда имеет в хедере
// @require jquery.1.8.3.min.js
После него грузятся скрипты для определенных сайтов.

В хроме и фаерфоксе все работает в норме, а вот опера ругается на
US: Undefined variable: $
И ничего не работает.

Куда копать?

[2013-01-19 05:05] akrylysov commented on #29
You should add to beginning of your script:
var $ = window.$.noConflict(true);
See ChristmasTree sample https://github.com/KangoExtensions/kango-samples/blob/master/ChristmasTree/src/common/tree.js

[2013-01-19 05:05] #29 closed, assigned to akrylysov

[2013-02-21 12:08] katspaugh opened #30 "chrome.tabs"
Hi Artem!

Why can I not access the [`chrome.tabs`](http://developer.chrome.com/extensions/tabs.html) object in my Kango extension in Chrome?

`chrome` is defined, but `chrome.tabs` is `undefined`. The `manifest.json` in the output directory has the right permissions:

[code]

Here's how the `chrome` object looks in the console:

[code]

As you can see, there's no `tabs` property listed.

[2013-02-21 12:24] #30 closed, assigned to nobody

[2013-02-21 12:25] katspaugh commented on #30
It appears in `bg.js` the `chrome` object is exposed fully, so the issue is resolved. Sorry for the trouble.

[2013-02-22 06:35] #24 closed, assigned to akrylysov

[2013-02-22 06:36] #18 closed, assigned to akrylysov

[2013-03-05 12:07] gureedo opened #31 "Plugin with autoupdate does not work in FF19"
When `common/extension_info.json` contains `update_path_url` FF won't install it.
If i remove it everything works fine.

[2013-03-05 12:13] gureedo commented on #31
I've found the clue. If update url does not starts with `https` FF will not install extension.
May be you will add some warning information to build process?

[2013-03-06 06:53] akrylysov commented on #31
Thank you for suggestion. We have added warning.

[2013-03-06 06:53] #31 closed, assigned to akrylysov

[2013-03-07 05:01] gureedo opened #32 "access to kango.getExtensionInfo() from content script"
I want to get ext version from content script, but `kango` object does not have method `getExtensionInfo()`. Is there a possibility to add such functional?

[2013-03-07 05:06] akrylysov commented on #32
You can access only [some](http://kangoextensions.com/docs/general/content-scripts.html#kango-apis-available-in-content-scripts) APIs from content scripts. To access kango.getExtensionInfo from content script you should use [kango.invokeAsync](http://kangoextensions.com/docs/api-reference/kango.html#kango-invokeasync).

[2013-03-07 05:06] #32 closed, assigned to akrylysov

[2013-04-01 12:41] ramiisc opened #33 "Got exception in Opera (Version 12.14) but in other browsers extension works"
US: Undefined variable: $
myExten([arguments not available])@
<anonymous function>([arguments not available])@
<anonymous function: evalInSandbox>([arguments not available])@content.js:13
<anonymous function: evalInSandbox>([arguments not available])@content.js:13
<anonymous function: executeScript>([arguments not available])@content.js:272
<anonymous function: run>([arguments not available])@cont

[2013-04-01 12:58] sergpeganov commented on #33
I suppose you are using jQuery. There is some problem with $ definition in opera. Try add this code at the top of content.js:

var $;
if (typeof $ === 'undefined') {
    if (typeof window.$ !== 'undefined') {
        $ = window.$;
    } else {
        kango.console.log(['Error: could not load jQuery']);
    }
}

[2013-04-01 13:05] ramiisc commented on #33
thanks. It is fixed

On 1 April 2013 18:28, sergpeganov notifications@github.com wrote:

##

ramakrishna potluru.

[2013-04-01 13:05] #33 closed, assigned to nobody

[2013-04-17 13:59] larrybek opened #34 "Startup error on windows"
When I run Kango in python it brings

usage: kango.py [-h] {create,build} ...
kango.py: error: too few arguments

Can somebody help with this

[2013-04-17 14:06] akrylysov commented on #34
You should run kango.py with _create_ or _build_ argument, take a look at http://kangoextensions.com/docs/tutorials/gmail-checker.html

[2013-04-17 14:09] larrybek commented on #34
Can you send me the code example how to write in python so it runs as even when I write d:\dev\kango\kango.py create it brings syntax error

[2013-04-17 16:11] akrylysov commented on #34
What errors? Make sure you using Python 2.7.

[2013-04-17 16:24] larrybek commented on #34
Im using Python 2.7.4 downloaded from website by link provided after adding the line in python idle its brings same error that I have mentioned before

[2013-04-17 16:28] akrylysov commented on #34
You should run kango.py from command line, not from idle.

[2013-04-17 16:29] larrybek commented on #34
Even from command line same result

[2013-04-17 16:34] akrylysov commented on #34
Please show full console output.

[2013-04-25 13:18] martinth opened #35 "Error in opera: rangy library not working"
I'm developing a extension that uses rangy (https://code.google.com/p/rangy/) in a contentscript. When I install this extension in Opera I get the following error when the contentscript starts to run:

[code]

I suspect that this is somehow related to issue #33 since I had an similiar error with jQuery (that was gone when I used the quick fix posted there).
## Steps to reproduce
1. create a new ex

[2013-04-26 10:24] martinth opened #36 "event.source.getId() on background message handler undefined in Safari"
I have an extension that uses code like this in the background script:

[code]

When run in Safari I get the following error: `TypeError: 'undefined' is not a function (evaluating 'event.source.getId()')`. In Chrome and Firefox the code runs fine and outputs the source tab id.
## Additional information

Using the debugging console I can confirm that `event.source` and its prototype indeed don't ha

[2013-04-26 10:28] akrylysov commented on #36
If you want to get tab id you should use "target" field of event object. "source" is [KangoMessageSource](http://kangoextensions.com/docs/api-reference/KangoMessageSource.html) object.

[2013-04-26 10:28] #36 closed, assigned to akrylysov

[2013-05-01 07:39] akrylysov commented on #35
Opera has several issues with variables visibility scope in content scripts (we have reported to Opera developers about a year ago but no changes).

Change library declaration to:

[code]

then in content script you can use rangy variable:

[code]

[2013-05-01 07:39] #35 closed, assigned to akrylysov

[2013-05-01 16:40] melban opened #37 "Firefox Icon does not stay past first install"
I'm just now getting around to testing on firefox with my extension and when I install the XPI manually the Popup Icon shows just fine next to the home button.  If I close and reopen Firefox it is gone.  The extension still shows in the Add-ons and if I removed/readd it the same things happens.  I've created a new profile in Firefox and tested again with the same results.  If I use the firefox ext

[2013-05-02 07:04] akrylysov commented on #37
Please try to reinstall Kango from http://kangoextensions.com/kango/kango-framework-latest.zip

[2013-05-02 07:04] #37 closed, assigned to nobody

[2013-05-06 12:07] larrybek opened #38 "Firefox 20 problem with kango.xhr"
[code]

};

kango.xhr.send(details, function(data) {
        if(data.status == 200 && data.response != null) {
                var text = data.response;
                kango.console.log(text);
        }
        else { // something went wrong
                kango.console.log('something went wrong');
        }
});

Running this function in extension on firefox20 doesn't display anything.

[2013-05-06 12:09] akrylysov commented on #38
Are you executing this code from background or content script?

[2013-05-06 12:17] larrybek commented on #38
Im using code from background as its in instruction

[2013-05-06 12:18] larrybek commented on #38
Also have problem with integrating any json or jsonp files with ajax from other servers in content script same in firefox 20 its doesnt load anything.

[2013-05-07 04:11] akrylysov commented on #38
Can't reproduce. Could you please provide sample URL and data?

[2013-05-08 12:37] rxtxup opened #39 "JQuery's $ is undefined in Mozilla 20.01"
Kango Version: 1.2
Previous version seems okay.

Steps: edit file tree.js in sample https://github.com/KangoExtensions/kango-samples/blob/master/ChristmasTree/src/common/tree.js
Adding lines below will produce an error:

if ( $.browser.mozilla ) {
  alert( $.browser.version );
}

Mozilla Firefox Mozilla 20.01 console:

US: $.browser is undefined
@resource://gre/modules/XPIProvider.jsm -> jar:file:

[2013-05-09 03:04] akrylysov commented on #39
We have updated jQuery to version 1.9.1 in ChristmasTree sample. $.browser was removed from jQuery 1.9.0 ( http://api.jquery.com/jQuery.browser/). If you want, you can downgrade jQuery.

[2013-05-09 03:04] #39 closed, assigned to nobody

[2013-05-09 04:15] akrylysov commented on #39
Btw, if you want yo know browser name, you can use [kango.browser.getName](http://kangoextensions.com/docs/api-reference/kango-browser.html#getname).

[2013-05-10 07:57] rxtxup opened #40 "Mozilla minVersion should be 12?"
I'm getting error, trying to install new xpi built with Kango 1.2 in Firefox under 12.0
Timestamp: 10.05.2013 10:53:38
Warning: WARN addons.manager: Exception calling callback: TypeError: b is undefined
Source File: resource:///modules/XPIProvider.jsm -> jar:file:///C:/Users/eugene/AppData/Roaming/Mozilla/Firefox/Profiles/nahd6ha2.default/extensions/%7B162516c0-2c2f-11e1-8be3-005056c00008%7D.xpi!/

[2013-05-10 09:41] rxtxup commented on #40
It seems Services.scriptSecurityManager and Services.domStorageManager in storage.js was added to FF since version 12.0 only.

[2013-05-10 12:14] rxtxup opened #41 "Content script do not injects into image preview tab (Mozilla)"
Test tab: http://top-page.appspot.com/static/img/simple.png

Seems like when any image file opened in new tab DOMContentLoaded event listener in "kango-framework-1.2\src\js\ie firefox\kango\userscript_engine.part.js" has never called.

[2013-05-11 05:42] akrylysov commented on #41
Not a bug. We support content script injection only on web pages.

[2013-05-11 05:42] #41 closed, assigned to nobody

[2013-05-11 05:52] rxtxup commented on #41
@artemkrylysov It's a valid web page with head and body. The other tools like Chrome content scripts and Mozilla Addon SDK support this.

[2013-05-11 06:01] akrylysov commented on #41
We are trying to implement features that are supported in 5 browsers, but it's technically impossible to inject content scripts on image pages in Opera. Anyway thank you for your report we will consider this feature in upcoming version.

[2013-05-15 06:40] naddy0007 commented on #34
Even i face the same issue

C:\Users\Saseennx\Desktop\kango-framework-latest>kango.py create c:\Users\Saseennx\Desktop\KangoProj
usage: kango.py [-h] {create,build} ...
kango.py: error: too few arguments

[2013-05-15 06:44] akrylysov commented on #34
What is your Kango and Windows versions?
Try  to build one of samples in "sampes" durectory. Is it works?

[2013-05-15 08:30] naddy0007 commented on #34
Kango version V1.2.0
Windows version : Win7 enterprise

I tried running under the samples directory. Resulting in the same issue.

[2013-05-15 08:36] akrylysov commented on #34
Could you please also try python.exe kango.py create c:\123?
What is your python version?

[2013-05-15 08:47] naddy0007 commented on #34
It worked :). Thank you very much. But i would like to know why I should do this way, rather than the one provided in the docs.
The python version is 2.7.4 (64-bit)

[2013-05-15 08:56] akrylysov commented on #34
Very strange behaviour, maybe something wrong with your Python. We'll try to find the reason.

[2013-05-15 08:58] #34 closed, assigned to nobody

[2013-05-16 09:15] akrylysov commented on #40
Thank you for report. Firefox 8 compatibility issues fixed. You can download the latest version from our website.

[2013-05-16 09:15] #40 closed, assigned to akrylysov

[2013-05-16 09:28] oliversalzburg opened #42 "Opera extension always requests access to *"
I tried to publish an extension to the Opera repository and they notified me that it requests access to all websites, even when a small subset would suffice.

The [access](http://dev.opera.com/articles/view/extensions-api-config-access/) element is set to `*`

I would have expected that node to be populated by the `@include` directives in my JS file.

[2013-05-16 09:42] oliversalzburg commented on #42
Sorry, made a mistake. It seems like the reviewer was referring to the `content.js` file only. He added later

[2013-05-17 09:14] rxtxup opened #43 "Mozilla extension submission problems with AMO team"
I just got:
"Our current policy on Kango add-ons is to only accept unmodified versions of the Kango framework which have been sent to us by its maintainers for review prior to submission. Unfortunately, the version of the Kango framework that you include does not match known checksums for any such submission and therefore cannot be accepted at this time. Please contact the Kango team if you need h

[2013-05-17 09:21] akrylysov commented on #43
AMO team still reviewing new version of our Kango, please wait some time.

Could you please tell more? I think we can find the solution.

[2013-05-17 09:36] rxtxup opened #44 "Context menu item icon in mozilla extension"
Hi, is it possible to add icon and position properties for context menu icon in the "src\js\firefox\kango-ui\context_menu.js" ?
Currently I use some hard coded lines below, but I assume it will cause problems with framework files checksums?
  addItem: function(a, b, c, g) {
    ...

[code]

  }

[2013-05-17 09:37] rxtxup commented on #43
Created issue for this here:
https://github.com/KangoExtensions/kango/issues/44

[2013-05-17 10:07] rxtxup commented on #43
What is the last approved version?

[2013-05-17 10:13] akrylysov commented on #43
1.0.1

[2013-05-17 13:46] melban commented on #43
I just received that message from the Mozilla team also.  Please let us know when 1.2.0 gets its approval.  Thanks.

[2013-05-17 13:55] rxtxup commented on #43
Not sure which version to use: 1.2 released May, 8 or the latest from kango site?

[2013-05-20 01:46] kfatehi opened #45 "CoffeeScript support"
Nice framework. I was hoping to find the source code here on github so I could make a pull request that adds coffeescript as an optional build step.

for example, the self = this that goes into the boilerplate is completely unnecessary if Kango embraces CoffeeScript as a build step.

[2013-05-20 03:57] kfatehi commented on #45
Ok I got this working pretty well. I'll gemify it and add a link here.

➜  test git:(master) ✗ rake kango:install
Downloading Kango Framework to kango-framework.zip...
Download complete! Extracting...
Kango Framework is ready. You can now rake build
➜  test git:(master) ✗ rake build
[   INFO] Compiling src/coffee/github.coffee to src/common/github.js
[   INFO] Compiling src/coffee/main.coffee to s

[2013-05-20 05:44] kfatehi commented on #45
Gem built.

Available on rubygems http://rubygems.org/gems/kango
Source is here https://github.com/keyvanfatehi/kango

Basically people can use this to install kango itself, and create a kango project (calls kango.py), and it bootstraps them with a coffee directory that includes a coffeescript version of the main.js:

[code]

Short and sweet.

Users can then call "kango build" which produces the o

[2013-05-20 05:49] akrylysov commented on #45
Thank you. It's also can be done using custom build steps, we will introduce it later.

[2013-05-20 05:56] kfatehi commented on #45
OK I will reopen it for you, since this isnt a fix to Kango, but a ruby wrapper. Let me know if I can help in any way further -- I was reluctant to write code in Kango source without the code being in a repo, so I just wrapped it and it downloads Kango from your website when users do `kango install`

[2013-05-21 14:55] smartvault-abbott opened #46 "Subprocess piping problem with framework 1.2 when executing automated build"
We build under CruiseControl.NET using a standard build task and are having an issue where the Kango build is failing.

[code]

Our build process is the same as it has been for 1.0 (and prior), but it looks like something has changed with 1.2 that is causing a problem.

Is there a patch for this?

[2013-05-21 15:58] akrylysov commented on #46
What is your OS version, Chrome version, Chrome install directory?

[2013-05-21 17:48] smartvault-abbott commented on #46
OS is Windows 7 Professional.
Chrome is 27.0.1453.93.
Chrome is installed in "C:\Program Files (x86)\Google\Chrome".

This really looks like an issue with where the Python subprocess module is trying to do something aggressive with the STDIN/STDOUT pipes and is not getting the behavior it expects.

Building the project manually works fine. The problem only occurs when building in our production bu

[2013-05-22 03:57] akrylysov commented on #46
Please try to replace http://extensions.desktopaddons.com/misc/chrome.py in kango-1.2.0.0\kango\builders directory.

[2013-05-22 06:31] kfatehi opened #47 "Auto reload while developing"
I came across this article for Chrome http://stackoverflow.com/questions/2963260/how-do-i-auto-reload-a-chrome-extension-im-developing

But I am curious if there's a recommended way to this with Kango, e.g. a one-line switch that puts the thing in development mode with autoload features? (i.e. you're develping a web application like in Rails, and if you hit a route it will reload your new source c

[2013-05-22 06:44] akrylysov commented on #47
You can auto reload Firefox extension: https://addons.mozilla.org/en-US/firefox/addon/autoinstaller/
We are going to make such abilities for all browsers in next versions.

[2013-05-22 06:48] kfatehi commented on #47
Cool, if you tell me about them I can prepare better. It looks like livereload is pretty nice for this and ruby developers have made guard-livereload, making development pleasant -- I'll try to work these into the Kango rubygem... will need to write some specs now that it must grow.

I am considering adding command 'kango watch' for this purpose.

[2013-05-22 06:51] kfatehi commented on #45
I guess if the wrapper does the job, there's more important things than coffeescript--like live reload :)

[2013-05-22 06:51] #45 closed, assigned to akrylysov

[2013-05-22 08:21] kfatehi commented on #47
I've updated my gem to 0.0.3.0.9.2 and added `kango watch` which will auto compile coffeescript files and auto build files in src/common that have changed. In addition if you do `kango watch reload.extensions` it will point Chrome Canary to http://reload.extensions (requires ExtensionsReloader chrome extension).

works pretty well and can be extended with other reloaders, if you see the way i've c

[2013-05-22 08:21] #47 closed, assigned to akrylysov

[2013-05-22 09:00] oliversalzburg commented on #43
Oh damn, I currently have something up for review at Mozilla as well. I guess I know the outcome of that now :D

Publishing Chrome extensions is more fun ;P

[2013-05-22 11:24] akrylysov commented on #43
We have made some AMO related fixes and i hope we will be able to release the new Kango version at the beginning of the next week.

[2013-05-22 13:43] smartvault-abbott commented on #46
It did not work...

[code]

However!  Starting from this new version, I tweaked the subprcess.Popen calls as suggested in the following thread...

http://stackoverflow.com/questions/10290990/subprocess-popen-not-working-with-pythonw-exe

and that seems to have fixed the problem.  Basically: setting "stdin=subprocess.PIPE" in each of the subprocess.Popen calls.

[2013-05-22 13:46] akrylysov commented on #46
Thank you for the solution! we will try this fix shortly.

[2013-05-23 07:59] #46 closed, assigned to akrylysov

[2013-05-23 09:11] akrylysov commented on #21
Works fine in Kango 1.2.0.

[2013-05-23 09:11] #21 closed, assigned to akrylysov

[2013-05-23 09:24] akrylysov commented on #44
Please contact me artem@kangoextensions.com and i'll tell you how to extend framework functionality (this abilities in beta stage and not documented yet).

[2013-05-23 18:06] smartvault-abbott commented on #46
Do you have a timeline for when the official fix for this will be made available?

[2013-05-24 02:33] akrylysov commented on #46
I hope we will be able to release the new Kango version at the beginning of the next week (it also will includes AMO fixes).

[2013-05-27 09:17] alexyutmp opened #48 "firefox use icon48.png as popup button icon."
my icons folder contains button.png (which is 16x16 img), and also contains icon32.png,icon48.png,icon100.png,icon128.png, firefox somehow doesn't use button.png as popup icon,

my kango extension framework is 1.2

[2013-05-27 09:21] alexyutmp opened #49 "kango popup html doesn't work on MacOS with obfuscated js"
the error shows on console, but it works on windows
timestamp: 13-5-27 下午4:24:49
Error： NS_ERROR_XPC_JAVASCRIPT_ERROR_WITH_DETAILS: '[JavaScript Error: "this.xulwin is undefined" {file: "jar:file:///Users/xxxxx/Library/Application%20Support/Firefox/Profiles/xex554s9.default/extensions/tabnotifier@unusoft.it.xpi!/components/nsTnNotificationCenter.js" line: 162}]' when calling method: [nsIDOMGlobalP

[2013-05-27 09:23] alexyutmp opened #50 "should remove update_url section for chrome web store package"
since chrome web store doesn't allow to have "update_url" section.
this section only useful in self-distributed crx file.

[2013-05-27 09:25] akrylysov commented on #49
Please send us sample extension to extensions@kangoextensions.com

[2013-05-27 09:26] #44 closed, assigned to akrylysov

[2013-05-27 09:27] akrylysov commented on #48
Did you tried to set icon using browser_button.icon (http://kangoextensions.com/docs/api-reference/KangoExtensionInfo.html) property?

[2013-05-27 09:27] alexyutmp opened #51 "which api needs 'content_security_policy'?"
why kango add "content_security_policy" to manifest.json for chrome?
I want to know if it is safe to remove this.

at least I want to know which kango api does need this

[2013-05-27 09:31] akrylysov commented on #51
It's not used by Kango, but required by some JS libraries (e.g. template libraries).

[2013-05-27 09:31] #51 closed, assigned to nobody

[2013-05-27 09:32] alexyutmp commented on #49
I don't know if I could trip the script and send to you, but here is the clue,
I'm using this inside background js, for macos, firefox doesn't support showAlertNotification,the erro maybe related to this? :
var alertsService = Components.classes["@mozilla.org/alerts-service;1"].getService(Components.interfaces.nsIAlertsService);
        alertsService.showAlertNotification(iconpath,

[2013-05-27 09:35] akrylysov commented on #49
Hard to say, we need a way to reproduce the issue (e.g. your compiled extension).

[2013-05-27 09:35] alexyutmp commented on #48
thanks, it solves the issue!

[2013-05-27 09:35] #48 closed, assigned to akrylysov

[2013-05-28 04:19] ehtao commented on #49
ok, I found that if I restart firefox, the issue will gone

[2013-05-28 04:23] #49 closed, assigned to akrylysov

[2013-05-28 10:47] akrylysov commented on #42
As workaround you can add this header manually to content.js.
Opera 15 switched to Chromium's extension format and no longer supported Opera 11 & 12’s extensions (http://dev.opera.com/extension-docs/).

[2013-05-28 10:47] #42 closed, assigned to akrylysov

[2013-05-30 05:22] deepesh-agarwal opened #52 "Incompatible with Firefox 21"
My addon which worked fine with earlier Kango version for both Firefox and Chrome, is only working on Chrome now - any ideas  what could be the reason ?

[2013-05-30 05:23] akrylysov commented on #52
Please send me compiled XPI artem@kangoextensions.com

[2013-05-30 05:26] deepesh-agarwal commented on #52
Sent...

[2013-05-30 08:43] akrylysov commented on #52
Change your @require key in content.js to:

[2013-05-30 08:43] #52 closed, assigned to akrylysov

[2013-05-30 09:19] akrylysov commented on #43
We have fixed all AMO related issues and passed review. You can download Kango 1.2.1 from website.

[2013-05-30 09:19] #43 closed, assigned to akrylysov

[2013-06-18 10:06] martinth opened #53 "TAB_CHANGED event should also fire on switch back from different tab"
If you swtich between tabs is works fine, however, consider this flow of events:
- user open another browser window, does some work an closes it again
- original tab regains focus but TAB_CHANGED is not fired for this tab

I'm using an object in the background script to keeb track of all tabs where I have modified the DOM (via a CS) to Toggle the browser Icon (so the user can revert the changes).

[2013-06-18 10:18] martinth commented on #53
Alternatively I would life with a WINDOW_CHANGED event, or even better, a TAB_FOCUSED event.

[2013-06-19 08:45] akrylysov commented on #53
Thank you for report, we will provide you a solution today or tomorrow.

[2013-06-20 11:41] akrylysov commented on #41
Will be fixed in Kango 1.3.0.

[2013-06-20 13:53] smartvault-abbott opened #54 "Refreshing the options page in IE never fires KangoAPI.onReady"
User hits refresh in the options page, KangoAPI.onReady is never fired, so kango object is never created.

This only seems to be a problem in IE.  Tested in IE10, but I suspect it's the same behavior in other versions.  Firefox and Chrome worked fine.

[2013-06-21 05:03] akrylysov commented on #54
Issue is fixed, new Kango version will be released on beginning of the next week.

[2013-06-21 05:03] #54 closed, assigned to akrylysov

[2013-06-21 05:04] akrylysov commented on #53
We have implemented WINDOW_CHANGED event. New Kango version will be released on beginning of the next week.

[2013-06-21 05:04] #53 closed, assigned to akrylysov

[2013-06-25 13:11] rxtxup commented on #43
OMG, we waited 25 days for Preliminary review and again got this:

Your add-on has been reviewed by an editor and did not meet the criteria for being hosted in our gallery.

Reviewer:
Kris Maglione

Comments:
Your version was rejected because of the following problems:

1) We can't match your included version of Kango to the checksum of any known version. Please include only releases of libraries

[2013-06-25 13:43] oliversalzburg commented on #43
Weird, my Kango Framework based extension was reviewed and accepted by AMO yesterday.

[2013-06-25 13:46] akrylysov commented on #43
@rxtxup could you please give me a link to your XPI?

[2013-06-25 18:41] rxtxup commented on #43
@artemkrylysov beta.favim.com/media/static/data/favimcom_1.0.9.xpi

[2013-06-26 04:20] akrylysov commented on #43
@rxtxup your extension built on Kango 1.2.0, AMO fixes was made in Kango 1.2.1.

[2013-06-26 07:47] rxtxup commented on #43
@artemkrylysov Thanks, it's my issue.

[2013-07-01 06:08] akrylysov commented on #53
You can use WINDOW_CHANGED event in Kango 1.2.4:

[code]

[2013-07-02 20:55] iamolivinius opened #55 "Build extension for a specific browser only"
It would be great to have the ability to select a specific target browser for compilation. This would save some time during the development if you compile your project just for one browser.

[2013-07-05 05:42] akrylysov commented on #55
Will be implemented in Kango 1.3.

[2013-07-05 10:33] darko-m opened #56 "window.open not working inside $(document).bind("unload") event since 1.2.0"
Hello,
I have ff extension that uses $(document).bind("unload") on extension side to catch browser closing event and then, if needed, open new window using window.open.
It worked with 1.0.0 and doesn't work since 1.2.0. Should I change something in extension_info.json? I have simple text example extension compiled xpi files for both 1.0.0 and 1.2.0 demonstrating issue if needed.
Thanks.

[2013-07-05 10:46] akrylysov commented on #56
Please send us demo extension to extensions@kangoextensions.com

[2013-07-09 09:03] darko-m commented on #56
Any info on this matter? Did you get demo extenstions?
Extension mentioned is comercial product and this is important issue for us that will determine if we should use Kango for our extension at all.
Thanks.

[2013-07-09 11:29] akrylysov commented on #56
Not an issue, if you will purchase commercial license, we will provide you a workaround.

[2013-07-09 11:32] #56 closed, assigned to akrylysov

[2013-08-08 20:02] brianshome opened #57 "IE 8/9 browser cookies get overwritten when calling kango.xhr.send"
It seems that when invoking kango.xhr.send to make an ajax request for a given domain, the cookies of the domain get overwritten and tagged with httpOnly. This prevent the javascript on the domain from reading the cookies.

Looking at the kango generated javascript, under ie/kango/xhr.js, there are logic to exipre the cookies and rewrite them with new expiration date. This seems to happen only for

[2013-08-13 09:44] akrylysov commented on #57
Please email us extensions@kangoextensions.com and we will provide you solution.

[2013-08-19 07:28] gsobczyk opened #58 "options page doesn't show"
I've write extension and options page doesn't show.
https://github.com/gsobczyk/create-rt-ticket

In Opera it doesn't open when clicking in popup "opcje"
In FF it doesn't appear in extension info and also when clicking in popup "opcje"

[2013-08-19 08:29] gsobczyk opened #59 "Tabs API in popup doesn't work (chrome)"
I cannot redirect user to new page from popup in chrome.
When I click item in popup i this extension - it do nothing
https://github.com/gsobczyk/create-rt-ticket

[2013-08-19 11:52] melban commented on #59
If the link it hard coded in the HTML of your popup page you can try setting a target such as "_blank".  If you are using JavaScript to generate the link or assign a click function then you can use kanog.invokeAsync() to call the tabs API.

kango.invokeAsync( 'kango.browser.tabs.create', {url:'http://example.com/'} );

http://kangoextensions.com/docs/api-reference/kango.html#kango-invokeasync
http

[2013-08-19 14:02] gsobczyk commented on #59
no, it doesn't help, try: https://github.com/gsobczyk/create-rt-ticket/tree/chrome-test
in popup.html there are:

[code]

[2013-08-19 14:27] melban commented on #59
The errors I see when clicking on the popup icon.

By default Kanog limits the content_security_policy is below.  I add google analytics so I change "kango.1.2.4\src\js\chrome\manifest.json" to include the Custom line.

For the 2nd error I don't think you can include inline scripts or event attributes like 'onclick', 'onchange'.  You need to create a popup.js which would attach a click event to th

[2013-08-19 15:36] fnash opened #60 "open the popup programmatically?"
Is it possible to open the popup by code?

[2013-08-20 05:07] akrylysov commented on #60
Unfortunately no, it's a limitation of Chrome and Safari APIs.
You can use content scripts to create custom UI.

[2013-08-20 05:07] #60 closed, assigned to nobody

[2013-08-20 05:08] #57 closed, assigned to akrylysov

[2013-08-20 05:08] #38 closed, assigned to akrylysov

[2013-08-20 05:13] akrylysov commented on #58
You have added "options_page" as a child of "browser_button" node. It must be in root node:

[code]

[2013-08-20 05:13] #58 closed, assigned to nobody

[2013-08-23 20:41] melban opened #61 "contextMenuItem click not passing srcURL in kango.Event"
The contextMenuItem event isn't passing the source url on the background page.

I do not yet see documentation on kango.ui.contextMenuItem but I found the example in the 1.2.4 samples.

Chrome: Version 29.0.1547.57 m
Kango 1.2.4
OS: Windows XP

Background page code
    kango.ui.contextMenuItem.addEventListener(kango.ui.contextMenuItem.event.CLICK, function(e) {
        console.log( e );
        //

[2013-08-29 14:28] nitinsinghit opened #62 "not able to find/create method to add search bar in browser"
I am trying to create a search extension for browser but cannot find in documentation which method I should use to add search bar ?  something like window.sidebar.addSearchEngine(engineURL, iconURL, suggestedName, suggestedCategory);

[2013-08-29 21:26] nitinsinghit opened #63 "How to add text field next in the browser?"
For example in Gmail Checker there is button what if I want to add text field there with search image in it? I dont see in documentation to add text field or something like search bar.

Thanks

[2013-08-30 12:33] akrylysov commented on #62
Kango doesn't support this feature. You can create custom UI using content scripts.

[2013-08-30 12:33] #62 closed, assigned to akrylysov

[2013-08-30 12:33] akrylysov commented on #63
Kango doesn't support this feature. You can create custom UI using content scripts.

[2013-08-30 12:33] #63 closed, assigned to akrylysov

[2013-09-05 20:30] aviraccoon opened #64 "Can't change locale"
`kango.i18n._messages` includes only messages from the default locale (loaded on extension init). It isn't possible to load another locale without manually calling `kango.i18n._getLocaleMessages(l)` and adding the result to `kango.i18n._messages`?
i18n module should probably have a `SetCurrentLocale` function which would check if locale is already in `_messages` and if not, load the messages and a

[2013-09-11 10:04] geweb7 opened #65 "Output files kit"
There is a folder named includes with file content.js in the output for Opera.
Do we really need it?
in extension_info.json I have:
"content_scripts": []

Moderators at Opera's community ask to remove this file.

[2013-09-18 08:21] akrylysov commented on #65
Will be fixed in next version.

[2013-10-10 09:58] akrylysov commented on #50
Fixed in Kango 1.3.0.

[2013-10-10 09:58] #50 closed, assigned to akrylysov

[2013-10-10 09:58] akrylysov commented on #6
Implemented for Chrome, Firefox, Opera, Safari in Kango 1.3.0.

[2013-10-10 09:58] #6 closed, assigned to akrylysov

[2013-10-10 10:00] christianromeni commented on #6
Finaly!!! Top! :) Thx a lot.

[2013-10-10 10:02] akrylysov commented on #6
You are welcome, new version will be avaliable in two weeks.

[2013-10-10 10:05] akrylysov commented on #55
Implemented in Kango 1.3.0. You can set argument --target. e.g. --target="chrome;firefox" or --target="chrome"

[2013-10-10 10:05] #55 closed, assigned to akrylysov

[2013-10-10 10:40] akrylysov commented on #65
Opera 12 support removed, fixed for Opera 17.

[2013-10-10 10:40] #65 closed, assigned to nobody

[2013-10-11 09:58] kambanthemaker commented on #43
Hi, Thanks. Is 1.2.4 version be compatible with firefox store ?

[2013-10-11 13:17] melban commented on #43
@selvamarcadu When I asked in the past Artem has said yes.

[2013-10-15 18:15] ghost opened #66 "Kango can't build safari extention."
The certificate is under certificates folder but kango can't create an extention.

But the bin folder contains the safari folder with code and the developer id is in bin/safari/extension_info.json.

I try to load the extention in safari but get that the developer certificate is missed.
Also kango can't create a 'zipped' extention. The extention is just in the bin folder.

This 2 line are in bin/sa

[2013-10-18 08:43] akrylysov commented on #66
You must build Safari extension manually, take a look at https://developer.apple.com/library/safari/documentation/Tools/Conceptual/SafariExtensionGuide/UsingExtensionBuilder/UsingExtensionBuilder.html

[2013-10-18 08:43] #66 closed, assigned to nobody

[2013-10-18 10:59] jessedepril commented on #43
Version 1.2.5 isn't compatible with the firefox store.

[2013-10-23 19:12] wiz00 opened #67 "An exception in Opera when opening a new Window"
Using

<code>kango.browser.windows.create({url:someUrl});</code>

throws an Exception in Opera in this function:

src/js/opera/kango/browser.part.js:
<code>create:function(a){opera.extension.windows.create().tabs[0].url=a.url}}</code>

<code>opera.extension.windows.create()</code> returns an Object with read-only field <code>tabs</code>.
First tab URL should be passed as an argument, like so:
<cod

[2013-10-24 05:45] akrylysov commented on #67
We don't support Opera 12 anymore. Opera 12 support will be removed in Kango v1.3.0.

[2013-10-24 05:45] #67 closed, assigned to nobody

[2013-10-24 07:03] akrylysov commented on #61
You can detect srcURL from content script, take a look at https://github.com/KangoExtensions/kango-samples/tree/master/ContextMenuItem/src/common

[2013-10-24 07:03] #61 closed, assigned to akrylysov

[2013-10-26 20:14] ghost opened #68 "No tab with id: ..."
I get an error with the current BrowserEvents example from kango samples folder and current Chrome version 30. (Also with older Chrome versions)

I restart my browser and open a new tab.
Then, I type "google.de" in the browserbar and hit enter.
After a search for "kango" I get an error that a tab id not exist.

If the error occurs the extension breaks for the current tab.

It seems kango tries to

[2013-10-29 03:52] akrylysov commented on #59
Thank you for answers, @melban.

Chrome doesn't allow inline scripts:
1. You have to put them in a separate JS file.
2. You must use native addEventListener or jQuery to attach "click" event.

Chrome doesn't allow remote scripts. You must put hogan-2.0.0.js in your extension package.

[2013-10-29 03:52] #59 closed, assigned to nobody

[2013-10-29 03:53] akrylysov commented on #43
You must use 1.2.4 from website or 1.2.6 from customer dashboard (for commercial package).

[2013-11-12 21:46] RuudBurger opened #69 "Feature Request: Add button inside urlbar"
I would love to have feature where you can add the button to the urlbar like the Flattr extension for example:

![screen shot 2013-11-12 at 22 44 57](https://f.cloud.github.com/assets/38136/1526388/b9afeb3c-4be3-11e3-9ee2-71a82057036f.png)

[2013-11-14 15:08] g2010a opened #70 "Capture hotkeys/keyboard shortcuts?"
Hi,

Is it possible to capture hotkeys / keyboard shortcuts other than by using a keyup listener on a content script?  (this tends to break if the focus is on, say, Google's text input, which does not trigger the keyup event)

[2013-11-15 12:09] HarryLyu opened #71 "permissions.context_menu is not working"
Passing permissions into /src/common/extension_info.json, for example:
"permissions": {
...
    "context_menu": true,
...
}
will not pass proper permissions in builded extension in manifest.json

[2013-11-15 13:26] HarryLyu commented on #71
Cane be fixed by adding
"context_menu_item": true
to extension_info.json

What does "context_menu_item" param mean?

[2013-11-18 03:37] akrylysov commented on #71
ContextMenu API is not documented, but you can find sample at https://github.com/KangoExtensions/kango-samples/tree/master/ContextMenuItem/src/common

[2013-11-18 03:37] #71 closed, assigned to nobody

[2013-11-19 06:17] akrylysov commented on #70
Kango doesn't have a built-in key capture functionality, but you can use any JS library. Take a look at https://github.com/jeresig/jquery.hotkeys

[2013-11-19 06:17] #70 closed, assigned to nobody

[2013-11-19 09:56] RuudBurger opened #72 "Documentation on building for Safari"
Where can I find it? I seems to create a safari folder with files in it, but I see no way on how to create the actual .safariextz file.

[2013-11-19 23:11] RuudBurger commented on #72
Found it. Need to use Safari Extension Builder (can be found in develop tools inside Safari)
The documentation about this on the kango website are old (and useless).

[2013-11-19 23:11] #72 closed, assigned to nobody

[2013-11-21 09:02] HarryLyu opened #73 "kango.i18n.init is undefined in 1.3.1"
Hi!

There was kango.i18n.init method in previous version. It used to accept a locale for extenstion.

Is it a bug or this method is deprecated now? If yes, are there any workarounds?

[2013-11-21 20:06] HarryLyu opened #74 "Encoding erros in build on Windows for IE"
Trying to build extension with Kango 1.3.1 on Windows 7 64bit with Python 2.7.2 (default, Jun 12 2011, 15:08:59) [MSC v.1500 32 bit (Intel)] on win32

And error comes from russian locale files after installing extension in IE10 (http://joxi.ru/ImmOUtg5CbCoISMApR4):
http://joxi.ru/82aOUtg5CbD-H7eCPIQ
http://joxi.ru/CGeOUtg5CbBSIRPD4xY

All files are in UTF-8.

I can give you an access to GitHub rep

[2013-11-22 10:11] akrylysov commented on #74
Please try to resave files in "UTF-8 with BOM" encoding.

[2013-11-22 13:38] HarryLyu commented on #74
Thanks, it works for me!

[2013-11-22 13:38] #74 closed, assigned to nobody

[2013-11-27 07:40] akrylysov commented on #73
i18n.init was undocumented and was removed from Kango 1.3. Could you please explain why do you need this method? Change locale in runtime?

[2013-12-03 16:15] JonathanKnight opened #75 "IE11 / WIndows 8.1 Extension not loading"
Kango extensions don't start on WIndows 8.1 / IE11 unless the "enable protected mode" in internet options is unchecked. Same extension runs in Windows 7 / IE 11 with this setting checked.

[2013-12-10 10:24] #75 closed, assigned to nobody

[2013-12-14 22:26] mabdelfattah opened #76 "Error in event handler for (unknown): ReferenceError: KangoAPI is not defined"
I get this error using https://chrome.google.com/webstore/detail/jccedjlgpejonihonobakljablgoimio
on all pages, for example this one:
http://shop.vodafone.com.eg/smart-phones/lg-optimus-l3-e400/

But I can't trace what is the cause of the error, how could I know?!

[2013-12-17 04:14] akrylysov commented on #76
Please describe your issue more detailed and send us sample source code.

[2013-12-17 10:47] mabdelfattah commented on #76
@artemkrylysov Please send me your bitbucket username and I'll add you to the source code repo.

Or just install the extension and you can find the source code.

[2013-12-17 10:51] akrylysov commented on #76
Sorry, we don't provide premium support for free. Please send us sample source code (not whole project) and we will try to help you.

[2013-12-17 13:36] ahmed-abdelsamad opened #77 "ContextMenuItem Inquiry"
I have followed the ContextMenuItem sample and it is working great.

Is there a way to add more than one button ?

Thanks for all.

[2013-12-17 22:04] mabdelfattah commented on #76
Sorry, I knew the problem.

It was including popup.js in the background files list in extension_info.json file

[2013-12-17 22:04] #76 closed, assigned to nobody

[2013-12-18 09:20] panzerdp commented on #43
Hi. How about latest 1.3.1 version, it can be used already for publishing in Firefox store?
Thanks.

[2013-12-18 11:24] panzerdp opened #78 "Popup window in Firefox 26 & Windows 8"
Hello kango team.
I have a problem using popup window in Firefox 26, Windows 8.
The popup itself opens correct when clicking on browser button, but when I'm scrolling, the content disappears. After waiting about 2-3 seconds it appears again.
In chrome it works correct. With Firefox 26 in Windows 7 and Ubuntu works well too.
Used kango 1.2.4 and 1.3.1.
Thank you.

[2013-12-23 10:37] akrylysov commented on #78
Please send compiled extension to extensions@kangoextensions.com

[2013-12-23 10:38] akrylysov commented on #77
Unfortunately you can add only one context menu item.

[2013-12-23 10:38] #77 closed, assigned to nobody

[2014-01-07 08:28] akrylysov commented on #43
Yes, take a look at https://github.com/mozilla/amo-validator/pull/212.

[2014-01-11 21:07] iamolivinius opened #79 "Javascript Source Maps Support"
Would it be possible to get source map support to improve debuggability of extensions build with kango framework?

[2014-01-16 07:14] vikask commented on #53
I'm using "chrome.tabs.onUpdated.addListener()" in chrome on update tab. How can i use in kango tab on update like chrome tab ("chrome.tabs.onUpdated.addListener()") ?

[2014-01-16 15:23] smartvault-abbott opened #80 "Version 1.3.3, kango.browser.getCookies, cannot call method 'getAll' of undefined"
Cannot call method 'getAll' of undefined
    at Array.<anonymous> (chrome-extension://bmfgbmkceiakohhomagcddagimapkpdo/background/main.js:490:19)
    at Array.<anonymous> (chrome-extension://bmfgbmkceiakohhomagcddagimapkpdo/kango/message_target.js:3:124)
    at Object.kango.EventTarget.dispatchEvent (chrome-extension://bmfgbmkceiakohhomagcddagimapkpdo/kango/base.js:3:272)
    at Object.kango.Event

[2014-01-16 15:24] akrylysov commented on #80
Please use kango.browser.cookies.*

[2014-01-16 16:23] smartvault-abbott commented on #80
Using kango.browser.cookies.getCookies yielded a very similar message.  Is this not the correct name?

Cannot call method 'getAll' of undefined
    at Array.<anonymous> (chrome-extension://bnpleppdaihamhdmhbcmidcjhbceljfb/background/main.js:488:19)
    at Array.<anonymous> (chrome-extension://bnpleppdaihamhdmhbcmidcjhbceljfb/kango/message_target.js:3:124)
    at Object.kango.EventTarget.dispatchEv

[2014-01-21 14:00] Aitamer opened #81 "Kango IE extension"
I'd like to buy a kango license in order to run my extension on IE. Can you tell me if the IE kango framework version works and if I can buy it. I have already sent a message from the web site kangoextensions.com but no answer.
Best regards

[2014-01-24 09:35] garoevans commented on #6
Is there any documentation on how to do this? I have the following but it doesn't seem to do what I wanted:

[code]

UPDATE:

Think I found it `@run-at document-start`

[2014-01-30 16:42] smartvault-kcorrell opened #82 "File.prototype no longer exposed in Firefox"
We had some help already with exposing the File.prototype in the content script space in Firefox 17+ for plupload. However, we have since upgraded our plupload and Kango versions, and we have run into the problem again in Firefox 26.

In particular, this code no longer works in Kango version 1.3.3 while in Firefox 26:

[code]

After some inspection, it seems these objects have been dropped from wi

[2014-02-01 14:41] akrylysov commented on #80
Please use kango.browser.cookies.getCookies, kango.browser.cookies.getCookie and kango.browser.cookies.setCookie.

[2014-02-01 14:41] #80 closed, assigned to nobody

[2014-02-01 16:11] smartvault-abbott commented on #80
Hello Artem,

As I explained, those APIs gave the same result as the previous. I sent a demo plugin to Andrey that exercises the problem.  Please review the plugin and let me know how to proceed.

John Abbott
SmartVault Corporation

Artem Krylysov notifications@github.com wrote:

Please use kango.browser.cookies.getCookies, kango.browser.cookies.getCookie and kango.browser.cookies.setCookie.

—
Re

[2014-02-03 07:47] akrylysov commented on #69
Unfortunately it's impossible to implement this feature in all browsers.

[2014-02-03 07:47] #69 closed, assigned to nobody

[2014-02-03 08:02] akrylysov commented on #80
Sorry for this issue, please add

[code]

to your extension_info.json.

[2014-02-03 08:22] akrylysov commented on #82
Could you please provide plupload based extension sample?
Generic File API works fine with Kango 1.3 and the latest Firefox. Content script:

[code]

[2014-02-03 09:06] akrylysov commented on #53
This event type is not supported by Kango.

[2014-02-03 19:13] smartvault-kcorrell commented on #82
The problem is not with the File object. It's the absence of the _prototype_. Content script:

[code]

[2014-02-04 03:50] akrylysov commented on #82
Add the following code to make File.prototype work on new Firefox versions:

[code]

[2014-02-04 03:50] #82 closed, assigned to nobody

[2014-03-07 09:47] #78 closed, assigned to nobody

[2014-03-07 09:56] pwct2p opened #83 "Kango IE11 + W8.1"
Hello,
Some users of our extension said that IE11 extension (+ W8.1) often freezes et seems deactivated even if it is installed and activated.
They need to deactivate/activate extension and restart browser to make extension active. Do you know this issue ? We use Kango 1.3.1. Is there a fix in 1.3.3 version ?
Thx

[2014-03-10 06:57] akrylysov commented on #83
Please send your extension to extensions@kangoextensions.com.

[2014-03-20 15:18] matthill opened #84 "Extension is not enabled by default in IE"
Running Windows 2008 R2 Standard, IE10
1. After plugin install, I restarted IE upon the notification. I couldn't find plugin icon in the plugin bar initially. This is because the plugin isn’t enabled by default.
   Suggestion: to make plugin enabled by default after restart.
2. After enabling the plugin, the icon is blank at first. It required another IE restart to see the plugin icon.

Screenshot

[2014-03-20 15:19] matthill commented on #84
![missing_plugin](https://f.cloud.github.com/assets/508260/2473617/f9359554-b042-11e3-86a2-b105438ef248.png)

[2014-03-20 18:46] matthill opened #85 "Kango Extension (IE 10) stops functioning after visiting some websites"
Running Windows 2008 R2 Standard, IE10

After installing the plugin and logging into and out of gmail, the plugin stops functioning.  It no longer executes the content scripts.

I have uploaded an example here:
https://github.com/matthill/kango-samples

After compiling and installing the IE extension on IE 10 running Windows 2008 R2 Standard, do the following:
1. Visit http://www.google.com.  Noti

[2014-03-21 05:58] akrylysov commented on #85
Unfortunately we can't reproduce the issue. Could you please send us the compiled extension and the list of installed IE add-ons?

[2014-03-21 06:23] 3000 commented on #81
Hi Artem,

I've also emailed via the site and direct to extensions@kangoextensions.com enquiring about commercial license with no response for a couple of days.  Just wondering if its still possible to acquire the IE/Commercial License?

Regards

[2014-03-21 15:53] matthill commented on #85
There are no other plugins installed.  I have setup an instance where this problem is 100% reproducible.  All I did was install Windows 2008 R2 and then install this simple plugin.  Can I send the login information to extensions@kangoextensions.com, or is there another e-mail for you?

[2014-03-22 18:57] egnevushev opened #86 "Методы для чтения Cookies"
Добрый вечер. К сожалению, не нашел в документации информации об API для чтения хранящихся в браузере cookies. Интересно, что на гитхабе советовали использовать kango.browser.cookies для этих целей, но в документации ни слова об этом нет. Так существует ли все-таки такая возможность? Ваш фраймворк мог бы мне очень помочь, но чтение cookies - очень важная часть проекта. Заранее, большое спасибо за

[2014-03-26 03:54] akrylysov commented on #81
We are very sorry, but we currently don't provide commercial version of Kango.

[2014-03-26 04:18] akrylysov commented on #86
Поддержка кук есть, но работает она не во всех браузерах, поэтому и не документирована. Если очень хочется, то можно использовать `kango.browser.cookies`:

[code]

Для этого в extension_info.json нужно добавить:

[code]

[2014-03-26 04:18] #86 closed, assigned to nobody

[2014-03-26 04:21] #83 closed, assigned to nobody

[2014-03-26 11:24] 3000 commented on #81
Ok great so there is no way to get Internet Explorer support through Kango now?

[2014-03-26 21:20] egnevushev commented on #86
Благодарю. А можно узнать подробнее насчет поддержки браузеров, в каких браузерах нет поддержки кук?

[2014-03-27 05:36] akrylysov commented on #86
`kango.browser.cookies` не работает в Safari.

[2014-03-28 02:59] hartleybrody opened #87 "Can't declare a match pattern permission in Chrome"
The extension I'm building only needs to run the content script on a few domains. It shouldn't have to request the `https://*/*` and `http://*/*` permissions which tell the user it can access data on "All Websites" on the install confirmation pop-down.

I'd be happy with a chrome-only solution, but there doesn't appear to be a way to specify that I'd like to only have certain match patterns in the

[2014-03-28 03:36] hartleybrody commented on #87
Got it working by doing a monkeypatch :monkey_face:  In `kango/builders/chrome.py`, on line 128, the code checks to see if the `info.permissions["content_scripts"]` list from the `extension_info.json` file is different from the default of `["https://*/*", "http://*/*"]`. I added some lines to not only update the content scripts matches part of the manifest, but also the permissions part of the man

[2014-03-28 06:32] akrylysov commented on #85
Fixed.

[2014-03-28 06:32] #85 closed, assigned to akrylysov

[2014-03-28 06:33] akrylysov commented on #84
Workaround sent via email.

[2014-03-28 06:33] #84 closed, assigned to akrylysov

[2014-03-28 06:43] akrylysov commented on #81
Right.

[2014-04-02 05:30] crandall-chow-sp commented on #85
What was the fix?  Anything you can share?  We see our BX on IE hang on occasion,and sometimes bouncing IE doesn't fix it.  We end up having to kill the KangoEngine.exe process.

[2014-04-15 06:35] toddcarper commented on #81
So, is there a way to get the 1.3.5 with the few fixes for IE?

[2014-04-16 09:28] akrylysov commented on #87
Please try to use `permissions.xhr`. `extenssion_info.json` example:

[code]

[2014-04-16 09:28] #87 closed, assigned to nobody

[2014-04-19 01:15] gauravphoenix opened #88 "How do I hook into onHeadersReceived chrome event?"
I looked into api documentation, I see few events like DOCUMENT_COMPLETE, BEFORE_NAVIGATE  etc but I don't see a way to hook into granular events like onHeadersReceived.

How do I go about it?

[2014-04-22 06:54] akrylysov commented on #88
This feature is not supported.

[2014-04-22 06:54] #88 closed, assigned to nobody

[2014-04-22 06:54] #73 closed, assigned to nobody

[2014-04-22 07:01] akrylysov commented on #81
Hello, @toddcarper you can download the latest version from your dashboard.

[2014-04-22 07:01] #81 closed, assigned to nobody

[2014-04-24 11:52] causaliq opened #89 "Kango Internet Explorer Support"
We are a small non-profit organisation in London using Kango to produce an add-on which suggests volunteering opportunities to help charities across the UK. We need to support the plugin on Internet Explorer but see from other threads that an IE license is no longer offered,

Please please can you suggest a way we can get Internet Explorer support.

[2014-04-28 03:18] akrylysov commented on #89
Sorry, we temporary don't provide commercial licenses.

[2014-04-28 03:18] #89 closed, assigned to nobody

[2014-04-29 17:11] causaliq commented on #89
Hi Artem,

can you say when you might provide commercial licenses again, or provide
any other means of creating an IE extension. many thanks for your help, Ken

On 28 April 2014 04:18, Artem Krylysov notifications@github.com wrote:

[2014-05-13 09:56] rjmorris67 opened #90 "Making contact re Enterprise licence"
I am struggling to make contact to secure a full licence to use the Kango platform for our UK based NFP company.  I have sent emails and tweeted.  Please confirm best conatc point to progress - many thanks...
Richard

[2014-05-13 10:23] akrylysov commented on #90
Have just answered to your email.

[2014-05-13 10:23] #90 closed, assigned to nobody

[2014-05-23 11:38] g2010a opened #91 "Extension icon not available in FF 29+"
Hi,
Since the upgrade to Firefox 29+, application icons are no longer visible and also do not appear in the "customize the menu and screens" screen.

To reproduce the issue:
1. Compile a Kango Framework app that displays an icon
2. Install the app in Firefox 29+
3. Attempt to add the app icon to the menu bar

The icon is invisible although the app is running (I have verified through console logs).

[2014-05-23 11:43] ctizen opened #92 "Extension not working in FF with yandex "elements""
Hello,
I have built an extension using kango 1.3.1 and Firefox users complain about it's not working when yandex extensions are enabled.

Tried it on Windows 7 and got these errors in browser console:

[code]

Steps to repeat:
1) Install firefox
2) Install yandex extensions via .exe installer (for example, try to install this app: http://app.prntscr.com/ru/ with russian locale and select to instal

[2014-05-24 08:15] akrylysov commented on #92
Please try the new version http://kangoextensions.com/kango/kango-1.3.8-public.zip

[2014-05-24 08:16] akrylysov commented on #91
Please try the new version http://kangoextensions.com/kango/kango-1.3.8-public.zip

[2014-05-26 04:47] ctizen commented on #92
Works, thank you

[2014-05-26 12:20] g2010a commented on #91
It's working now, thanks!

[2014-05-26 12:20] #91 closed, assigned to nobody

[2014-05-26 12:22] g2010a commented on #91
Note to anyone having this issue: I had to remove the extensions and restart firefox before re-installing it.

[2014-05-27 04:38] #92 closed, assigned to nobody

[2014-05-30 12:32] suganthiravichandran opened #93 "Not able to call popup window from created Extension"
I have created the sample extension with kango. i have tried to open popup window on button click from extension. Only opening of new window and new tab is possible.

[2014-06-02 06:04] akrylysov commented on #93
Please provide us compiled extension.

[2014-06-02 12:17] suganthiravichandran commented on #93
I can't able to understand what you are asking. Can you please provide the steps to get compilied extension

[2014-06-03 05:31] akrylysov commented on #93
Please send .crx or .xpi extension file.

[2014-06-03 08:39] suganthiravichandran commented on #93
Thank you for your response. I have find the solution.BY mistake i used the wrong API function so it can't be open. Now its working properly. Once again thank You so much for your response.

[2014-06-03 08:39] #93 closed, assigned to nobody

[2014-06-04 11:56] Rpsl opened #94 "Safari Options page"
Если у плагина задекларирована страница настроек, то для Safari можно делать переключатель в настройках плагина который будет её открывать.

![#](http://cl.ly/image/222f3V121r3J/ScreenShot_2014-06-04_15.53.50.png)

[2014-06-10 06:58] akrylysov commented on #94
Хорошая идея, в новой версии будет.

[2014-06-11 07:13] TheRubble opened #95 "Install into firefox 30 or 29.0.1"
Hi,

Is there anything special needed to be done to allow a plugin to install into firefox 30 or 29.01. At the moment all I get is incompatible.

Using version 1.3.8 of the framework.

Thanks

[2014-06-11 07:15] akrylysov commented on #95
Please send us your XPI to extensions@kangoextensions.com

[2014-06-11 07:27] TheRubble commented on #95
I've done that, also attached the chrome file incase that helps at all. The code isn't pretty or right in all places. It's the first drop from a crossrider rewrite.

Thanks

[2014-06-11 08:03] TheRubble commented on #95
Solved the issue it was to do with auto update location not being secure.

[2014-06-11 08:03] #95 closed, assigned to nobody

[2014-06-11 08:05] TheRubble commented on #81
Can I ask why you don't offer IE anymore? It's potentially a show stopper for my project. Is it for technical reasons?

[2014-06-13 04:27] akrylysov commented on #81
No, it's not a technical reason. Unfortunately we can't tell more details.

[2014-06-18 06:35] suganthiravichandran opened #96 "how to communicate with content script from popup.html in kango frame work"
I have tried to create cross browser extension using kango framework. I need a way to make a communication between content script and popup.html. Please help me.

[2014-06-23 14:08] RuudBurger opened #97 "Greasemonkey breaks extensions in Firefox"
When I enable Greasemonkey together with a extension made in Kango, I get the following browser error inside browser console (Shift + CMD + J):
`Error during async call method kango.userscript.getScripts. Details: TypeError: b is undefined`
The button shows, but nothing else. If I disable Greasemonkey again, everything works like it should.

BTW this only fails after you've restarted Firefox so so

[2014-06-30 10:29] akrylysov commented on #97
Please try the new version http://kangoextensions.com/kango/kango-1.3.8-public.zip

[2014-06-30 10:37] akrylysov commented on #96
You can subscribe to messages in your popup using kango.addMessageListener, then dispatch message from content script using kango.dispatchMessage. Take a look at [Messaging demo sample](https://github.com/KangoExtensions/kango-samples/tree/master/MessagingDemo/src/common).

[2014-06-30 10:37] #96 closed, assigned to nobody

[2014-07-04 09:27] AnatoleH opened #98 "Problem with KangoEngine.exe and Avast"
HI

I recently got a problem  with my extension made with Kango, Avast blocks the download cause of KangoEngine.exe, is there any way you can fix it ?

[2014-07-04 09:33] akrylysov commented on #98
Please send compiled extension to extensions@kangoextensions.com

[2014-07-07 09:49] AnatoleH commented on #98
I've sent it Friday did you get it ?

[2014-07-07 09:51] akrylysov commented on #98
Unfortunately no, please try to use password-protected zip.

[2014-07-22 17:02] pwct2p opened #99 "License renewal"
Hello,

We want to extend our license and we didn't get any response. How could we contact you ?

Thank you,

[2014-08-03 11:57] pquerner opened #100 "Firefox (31.0): Wont work"
I created a very simple app which will console.log all open tabs when the extensions' icon is clicked. However, it does not seem to work in Mozilla Firefox 31.0. I wont even get my options.html tab opened.
What could be the issue?

[2014-08-03 12:19] akrylysov commented on #100
Please send compiled extension to extensions@kangoextensions.com

[2014-08-03 18:41] pquerner opened #101 "Always the same window ID"
When I'm iterating through my windows I'll always the the same window ID. How could that be?

The code:

[code]

Kango v1.3.9 is being used.
- Edit -

Seems like this is the way to go.

[code]

[2014-08-03 19:08] #101 closed, assigned to nobody

[2014-08-05 17:04] ghost opened #102 "XHR | Are there any limit length of params in sending a request?"
Dear buddy,

Thanks for your great work, but I encountered a problem with Kango.xhr API. I tried to send a message with encoded data to my server. But I got a truncated data, so I cannot decode it.

This is my code in Content Script. It's a web crawling extension

[code]

And this is my params which collected from form, and then JSON encode.

[code]

This is POST data I got in server (PHP)

[code]

[2014-08-06 03:38] akrylysov commented on #102
Hello, what is your browser name, version and OS?

[2014-08-12 10:18] sebastienwerle commented on #98
Hi,

I also have the same problem with my extension made with Kango.
@akrylysov : Do you have a solution to fix this embarrassing problem?

Thank you for your feedback
Regards

[2014-08-12 10:22] akrylysov commented on #98
Please send compiled extension to extensions@kangoextensions.com

[2014-08-12 10:38] sebastienwerle commented on #98
Hi

I've just send it. Our customer represents a big bank in France and we have to fix this very quickly.
It would be great if you have time to check this trouble

Thanks a lot

[2014-08-18 06:44] #98 closed, assigned to nobody

[2014-08-25 05:51] akrylysov commented on #102
Can't reproduce the issue. Tried on 50 MB data.

[2014-08-25 05:51] #102 closed, assigned to nobody

[2014-09-08 22:22] kangowhereareyou commented on #99
Hi,

I've sent countless emails and have tried contacting by skype regarding license renewals however there has been no progress made. What is going on with IE support? Is it being discontinued? Let us know something so we can plan accordingly.

[2014-09-08 22:23] kangowhereareyou opened #103 "IE Support"
Has IE support been discontinued? Why will no one respond to my emails? If you are done with support could you please send me details on other developers I can utilize on my project?

[2014-09-17 05:54] akrylysov commented on #103
Sorry, we temporarily don't provide/renew commercial support.

[2014-09-17 05:54] #103 closed, assigned to nobody

[2014-09-17 05:54] akrylysov commented on #99
Sorry, we temporarily don't provide/renew commercial support.

[2014-09-17 05:54] #99 closed, assigned to nobody

[2014-10-16 09:50] akrylysov commented on #94
Fixed in Kango 1.7.

[2014-10-16 09:50] #94 closed, assigned to akrylysov

[2014-10-16 09:53] akrylysov commented on #99
Sorry for inconvenience, we provide commercial support again.

[2014-10-16 09:53] akrylysov commented on #103
Sorry for inconvenience, we provide commercial support again.

[2014-10-16 09:53] #100 closed, assigned to nobody

[2014-10-16 09:54] #97 closed, assigned to nobody

[2014-10-16 09:54] #64 closed, assigned to nobody

[2014-10-23 12:01] vedmedka opened #104 "Unable to dispatch message to newly created tab"
I would like to create a tab then dispatch a message to it.
Obvious way inspired by documentation is:
kango.browser.tabs.create({url: url, focused: true});
kango.browser.tabs.getCurrent(function(tab) {
        tab.dispatchMessage(message, data);
});
But unfortunately it not worked.

I tried something as described here:
http://stackoverflow.com/questions/19964014/how-to-listen-the-event-document-co

[2014-10-27 15:09] vedmedka opened #105 "Safari: click on a link in popup.html doesn't open new tab/window"
I've added to kango_samples/PopupDemo/popup.html a link:

`<a href="https://my.site.com/" class="btn" id="save_form_btn" target="_blank">Login to SITE</a>`

I expected my click on a link will open a new tab/window. It works in chrome and firefox but doesn't work in safari.

[2014-10-29 13:50] vedmedka commented on #104
My workaround finally based on undocumented feature of tab.dispatchMessage. It returns boolean if message was dispatched. For safari browser I had to add browser-dependendent code that wait unil 'navigate' event appeared:

[code]

It looks little weird and overcomplicated. It would be better if kango framework provide built-in solution for tab creation and sending a message to it.

[2014-10-29 13:50] #104 closed, assigned to nobody

[2014-10-29 13:56] vedmedka commented on #105
javascript workaround:

[code]

[2014-10-29 13:56] #105 closed, assigned to nobody

[2014-11-10 18:07] japrescott opened #106 "content_scripts causes syntaxerror"
hey kango team.
cool project you are doing. I wanted to check it out and made a very basic extension.
I noticed in chrome, that when the extension has an entry for a content_scripts in the extension_info.json that it creates an error in the console when opening a tab. The content_script is an empty file. If there is no content_script specified, the error isn't shown.
I'd like to help you but since

[2014-11-11 05:26] akrylysov commented on #106
Hello, please send compiled extension to extensions@kangoextensions.com

[2014-12-18 11:07] itonics-tbeauvais opened #107 "IE library conflicts?"
We are seeing a problem in IE11 where the runtime of the plugin and the web page seem to be shared.  We are getting conflicts with the jQuery/jQuery UI libraries loaded on the web page.  This means that some webpages will throw errors!

When we disable the plugin, the page works fine.

Do you have an insight or experience with such problems?

[2014-12-18 11:12] akrylysov commented on #107
You should use `noConflict` to prevent conflicts. Take a look at https://github.com/KangoExtensions/kango-samples/blob/master/ChristmasTree/src/common/tree.js

[2014-12-18 12:21] itonics-tbeauvais commented on #107
Thanks for the update, I'll give a shout to our dev and have him take a look.

I might even have him jump in here.

[2014-12-19 06:02] #106 closed, assigned to nobody

[2014-12-19 08:33] nexspy commented on #107
the code works now after adding this line in the background script file.
thankx

var $ = window.$.noConflict(true); // Required for IE

[2014-12-19 15:32] #107 closed, assigned to nobody

[2014-12-19 16:05] itonics-tbeauvais opened #108 "KangoAPI.onReady() not called in IE11"
This is a strange, frustrating and un-reproducible error but KangoAPI.onReady() is not getting called in a colleague's instance of Windows 8/IE11.

I have tried reproducing in the ModernIE virtual machines for Win7/8 IE10/11 and can't reproduce.

If I can provide any other details I will.  Please let me know what you need.  Thanks in advance for any insight.

![c users felix desktop ie11](https://

[2014-12-19 16:10] akrylysov commented on #108
- Do you have any other addons installed? Try to disable them.
- Try to reset IE settings (Settings -> Internet Options -> Advanced -> Reset).

[2014-12-19 16:44] itonics-tbeauvais commented on #108
Disabled all other plugins and Reset, no change.

[2014-12-19 16:56] itonics-tbeauvais commented on #108
What is the best way to log or debug in IE?

[2014-12-19 18:22] akrylysov commented on #108
You can enable Kango debug console. Add `"debug": true` to extension_info.json.

[2014-12-26 07:13] akrylysov commented on #108
Did you resolve the issue? or found a way how to reproduce it?

[2015-01-05 22:32] fredopahu opened #109 "kango.browser.cookies.getCookies Firefox"
Hello,

kango.browser.cookies.getCookies() doesn't seem to work in Firefox.
Here is the output : "Components is not defined"

Same function works well in Chrome.

Is there a workaround ?

Thank you

[2015-01-06 10:09] fredopahu commented on #109
Workaround so far :

[code]

Can be used directly in background script.

[2015-01-06 11:20] akrylysov commented on #109
Thank you for report, the issue will be fixed shortly.

[2015-01-07 16:48] duncanmhor commented on #108
We are experiencing the same issue. Is it possible that this is related to https://support.microsoft.com/kb/3008923

[2015-01-08 19:24] japrescott opened #110 "console errors when using content_scripts"
if I add a content_script to the extensions_info.json, build the extension, reload it in chromium (within the extension settings), go to a tab, click on the extension and then reload the tab, I get lots of very ugly errors in the tab's console as well as in the extension console;
 Error in script (unknown): Unexpected token u
console.js:12 SyntaxError: Unexpected token u
    at Object.parse (nativ

[2015-01-09 10:13] akrylysov commented on #108
We managed to reproduce the issue and we are trying to find a solution.

[2015-01-10 09:16] shijuraj opened #111 "addons.mozilla.org validation issues."
In build provided at http://kangoextensions.com/kango.html with the link http://kangoextensions.com/kango/kango-framework-latest.zip is mentioned as 1.7.1, but it is actually 1.7.3 dev release.
So mozilla team rejects addon developed in this version, and suggested to use only relese version. So please update the download link with release version.

'settings.py' states:

VERSION = '1.7.3'
BUILD =

[2015-01-14 03:00] akrylysov commented on #108
Please try new version 1.7.4. You can download it from your dashboard.

[2015-01-17 18:25] rahul159 opened #112 "ContextMenuItem Enquiry"
Hello

I check Kango Extenstion , Really very very good work. Well Document and Samples are really very very great.

I have a question.

Can We open Popup.html using Context menu item as well.

Thanks

[2015-01-22 13:42] akrylysov commented on #112
There is not way to open popup programmatically.

[2015-01-22 13:42] #112 closed, assigned to nobody

[2015-01-22 13:43] Elite opened #113 "Is Kango abandoned and obsolete now?"
Kango framework will become broken with Firefox 36, I am facing the error `Error: Exposing privileged or cross-origin callable is prohibited` with Kango framework in developer build of Firefox 36. The error is thrown for `kango.invokeasync` method in my content-script.

Is there a way out or not, pls. guide us - don't want to wake up one day with Firefox 36 Final getting pushed to all users puttin

[2015-01-22 13:44] akrylysov commented on #113
What is your Kango version?

[2015-01-22 13:46] Elite commented on #113
Version 1.3.0

[2015-01-22 13:47] akrylysov commented on #113
This version is one year old - it doesn't support Firefox 36, you should use the latest Kango version.

[2015-01-22 13:49] Elite commented on #113
OK, got it. I was signed up for blog updates but never received any information about it.

[code]

[2015-01-22 13:49] #113 closed, assigned to nobody

[2015-02-01 18:00] #108 closed, assigned to nobody

[2015-02-01 18:03] akrylysov commented on #110
Please send us compiled extension.

[2015-02-22 12:36] ierror opened #114 "xhr send callback not firing on firefox"
Given this simple example, the callback function does not fire on the current Firefox 35.0.1
Firefox sends the data to the server, only the callback is not called...

The callback is fired in Chrome and Safari, any suggestions?

[code]

Thank you

[2015-02-22 14:21] akrylysov commented on #114
Please provide us full example with URL and payload.

[2015-02-24 10:16] duncanmhor opened #115 "Kango events not firing"
This is similar to issue 108, kango events are not firing on internet explorer. There has been another update (to version 11.0.16)
![image](https://cloud.githubusercontent.com/assets/201459/6347248/3e8df5b0-bc0e-11e4-98f9-081e792bf7e7.png)

[2015-03-03 12:03] davemodis opened #116 "FireFox 36"
With update of Firefox 36 extension has been stopped.
Recompiling doesn't helps.

[2015-03-04 00:55] akrylysov commented on #116
What is your Kango version?

[2015-03-04 01:04] akrylysov commented on #115
Please download the new version from your dashboard.

[2015-03-04 01:04] #115 closed, assigned to nobody

[2015-03-04 07:25] davemodis commented on #116
1.7.1

среда, 4 марта 2015 г. пользователь Artem Krylysov написал:

[2015-03-04 13:07] akrylysov commented on #116
Please try to install the latest Kango version http://kangoextensions.com/kango/kango-framework-latest.zip.

[2015-03-08 01:43] iamolivinius opened #117 "node-style invocation of callbacks"
I'm using kango a lot in my work and included https://github.com/mozilla/localForage lately to have the ability of an unlimted storage. Cause localForage handles callbacks in a "node-ish" [(link)](http://fredkschott.com/post/2014/03/understanding-error-first-callbacks-in-node-js/) way its no longer compatible with kango.

One can argue that this pattern of callback invocation is becoming more and

[2015-03-08 17:53] akrylysov commented on #109
Was fixed.

[2015-03-08 17:53] #109 closed, assigned to nobody

[2015-03-10 16:32] davemodis commented on #116
Вы говорите по-русски?

После компиляции и установки расширения, иконка просто не появляется.

2015-03-04 16:07 GMT+03:00 Artem Krylysov notifications@github.com:

[2015-03-11 00:43] akrylysov commented on #116
Да, но язык багтрекера - английский.

Прошу выслать скомпилированное расширение на extensions@kangoextensions.com

[2015-03-11 08:32] brian-chun-sp opened #118 "With 1.7.x, the background process KangoEngine.exe does not shutdown when IE is closed"
I upgraded from 1.3.7 to 1.7.4, and I notice that the background process KangoEngine.exe does not shut down when IE is closed. I verified it on IE11 and IE10 with kango 1.71, 1.74 and 1.76.

It causes issue for browser extension install/uninstall as the process continue to run until the machine is reboot or manually killed in task manager.

Is this a known issue?

[2015-03-11 11:58] akrylysov commented on #118
Please send us your compiled extension to extensions@kangoextensions.com

[2015-03-11 16:30] brian-chun-sp commented on #118
a follow-up email and extension have been set set to extensions@kangoextensions.com. Thanks!

[2015-03-15 09:05] davemodis commented on #116
All files have been sent. Waiting for response

[2015-03-16 08:16] Acacia-Jeff opened #119 "Firefox 36"
Hello,

I have done an extension with kango 1.2.4, and it's work fine up to Firefox 35.
With Firefox 36, the extension doesn't work anymore (install well but don't do anything).
I try to update kango to its latest version 1.7.6, but it doesn't change anything.

The extension contains only javascript code (Dom manipulation and window.setInterval) and the only call to kango framework is for kango.xh

[2015-03-16 08:53] BhuvaneshMCA commented on #99
So, can i use your framework freely for chrome and Firefox?

[2015-03-16 08:55] BhuvaneshMCA opened #120 "Need commercial license"
Hi,
I have sent many mails regarding commercial license.but didn't get even single reply.

Please help me out here

[2015-03-16 11:40] akrylysov commented on #119
Please send us compiled extension to extensions@kangoextensions.com.

[2015-03-16 11:43] akrylysov commented on #120
Just sent you email.

[2015-03-16 11:43] #120 closed, assigned to nobody

[2015-03-19 15:52] Acacia-Jeff commented on #119
Hello,

Sent as requested, any news ?

[2015-03-20 02:06] ghost commented on #68
There are updates? I still get the error with the example. I open a new tab and write something in the address bar, before I hit enter, I get the error:

Tab Created
Target tab url=chrome://newtab/
Tab id=174 console.js:12
Tab Changed
Target tab url=chrome://newtab/
Tab id=174 console.js:12
BeforeNavigate
Url=https://www.google.com/_/chrome/newtab?espv=2&ie=UTF-8
Is tab active=true console.js:12
D

[2015-03-22 15:55] akrylysov commented on #119
You must extract the new Kango version to a new directory.

[2015-03-22 15:55] #119 closed, assigned to nobody

[2015-03-22 16:17] #116 closed, assigned to nobody

[2015-03-23 02:11] akrylysov commented on #118
The issue was fixed, please download the new version from your dashboard.

[2015-03-23 02:11] #118 closed, assigned to nobody

[2015-04-21 18:07] hartleybrody commented on #114
Can't upload the full code base cause it's not my code to share, but you can make a quick proof of concept in 3 minutes by creating a new kango extension (using latest 1.7.1 from website) and adding one content script with the following:

[code]

You'll see the expected output in the page's console in Chrome 41 (latest). However, in Firefox 37 (latest), if you pull up the Browser Console, you'll s

[2015-04-21 18:15] hartleybrody commented on #114
Another thing that works fine on Chrome but throws the `Exposing privileged or cross-origin callable is prohibited` error on Firefox is using `kango.invokeAsyncCallback`. Like so:

[code]

On Chrome, we get the expected:

[code]

but on Firefox, it's the `Exposing privileged or cross-origin callable is prohibited` error being thrown from the line where `invokeAsyncCallback` is called.

[2015-04-21 18:20] hartleybrody commented on #114
Even the canonical example of communication between content scripts and background pages seems to be broken in Firefox:

[code]

logs what you'd expect in Chrome but throws the same `Exposing privileged or cross-origin callable is prohibited` error in Firefox.

[2015-04-21 18:39] hartleybrody commented on #114
Just uninstalled and reinstalled a fresh version of Firefox to confirm it wasn't an issue on my end.

Even this throws that error on Firefox (but works fine on Chrome):

[code]

[2015-04-22 00:19] akrylysov commented on #114
What is your Kango version?

[2015-04-22 21:44] hartleybrody commented on #114
Ah, oops. I was on 1.3.1 :angel:

I had downloaded `kango-framework-latest.zip` from [here](http://kangoextensions.com/kango.html) but apparently I already had 1.3 in my downloads folder and then unzipped the wrong one.

[2015-04-23 00:17] #114 closed, assigned to akrylysov

[2015-05-02 12:17] Zukeh opened #121 "Unchecked runtime.lastError while running windows.get: No window with id: 662"
Hello,

I see this error in the console (background) with the latest chrome version (42). This error shows up all the time, even with the samples.

[2015-05-12 00:16] akrylysov commented on #68
The issue doesn't break the extension anymore.

[2015-05-12 00:16] #68 closed, assigned to nobody

[2015-05-12 00:17] akrylysov commented on #121
It's a known Chrome API issue https://code.google.com/p/chromium/issues/detail?id=93646
It doesn't affect the extension.

[2015-05-12 06:49] #121 closed, assigned to nobody

[2015-05-12 06:49] Zukeh commented on #121
Thanks

[2015-05-25 11:31] HarryLyu opened #122 "Absent support of 1.7.7 version on addons.mozilla.org"
Hi!

I tried to submit new version of my extension to AMO with Kango 1.7.7, but got a reject because of

How can I use last version of Kango? Do you plan to contact AMO for supporting last versions?

[2015-05-26 13:15] ghost opened #123 "Error in event handler for runtime.onMessage: ReferenceError: KangoAPI is not defined"
I know that it is not possible to open popup on context menu item click.
But I want to show popup via javascript in the top right corner.
So in context menu click I added:
`$(document.createElement('div')).load(kango.io.getResourceUrl('myPopup.html')).appendTo(document.body);`
And this code shows popup top right but I can't create any event handling in it. I want to make function in content.js tha

[2015-05-26 13:29] ghost commented on #123
Also just to note if I try to load popup.html from example in the same way I get 404 for each resource.Like: `GET http://kangoextensions.com/docs/general/kango-ui/kango_api.js?_=1432646885846 404 (Not Found)`

[2015-05-27 02:14] akrylysov commented on #123
There is no way to open popup programmatically or add it to web page. If you want to open a page from extension resources, you can create `Options page` and use `kango.ui.optionsPage.open` http://kangoextensions.com/docs/api-reference/kango-ui-optionsPage.html.

Or you can create you HTML dynamically from content script using `document.createElement('div')` and use `Content scripts API`, not `kang

[2015-05-27 02:14] #123 closed, assigned to nobody

[2015-05-28 12:32] ghost opened #124 "Unable to add multiple context menu items"
`"context_menu_item": {
            "caption": "Menu1","caption": "Menu3","caption": "Menu2"
    },`
Is it possible to add multiple context menus or not?

[2015-05-28 12:39] akrylysov commented on #124
Kango doesn't multiple context menu items.

[2015-05-28 12:39] #124 closed, assigned to nobody

[2015-05-29 10:03] ghost opened #125 "dispatchMessage - doesn't work in firefox"
I am trying to send notification from content to background script and it work in all browsers exept firefox.

Firefox: 38.0.1
Kango: 1.7.6
Content.js
`kango.dispatchMessage('notification', 'example');`
Main.js
`kango.addMessageListener('notification', function(event) ...`

[2015-05-30 02:59] akrylysov commented on #125
Please send us your extension.

[2015-05-30 14:34] ghost commented on #125
I have sent you extension with code.

[2015-05-30 17:24] akrylysov commented on #122
We are waiting for review.

[2015-06-01 02:28] akrylysov commented on #125
It works fine, you just shouldn't use `alert` in background scripts because it is not available. We'll add it to documentation.

[2015-06-01 02:28] #125 closed, assigned to nobody

[2015-06-15 13:54] VT2 opened #126 "Mozilla team do not accept Kango framework higher than version 1.7.1."
Mozilla team rejects addon developed in version 1.7.6: "we currently do not accept Kango framework higher than version 1.7.1."
Where download Kango framework version 1.7.1?

[2015-06-17 21:47] apatrida commented on #126
Why is this rejection happening?

[2015-06-17 21:47] apatrida commented on #122
No update on the review?

[2015-06-18 07:00] VT2 commented on #126
Letter from the Mozilla team:
"Your add-on, PersiaHR Extension 1.3.3, has been reviewed by an editor and did not meet the criteria for being hosted in our gallery.
Reviewer: erosman
Comments: Your version was rejected because of the following problems:
1) Unfortunately, we currently do not accept Kango framework higher than version 1.7.1.
Please fix them and submit again. Thank you."

[2015-06-23 08:57] pcassis opened #127 "update_firefox.xml id in about attribute"
Generated update_firefox.xml file has wrong about attribute "urn:mozilla:extension:%id%".
%id% is not replaced by real id. It should be "{id}" in xml template.

[2015-06-23 12:37] akrylysov commented on #127
Thank you for report, fix will be included in next version.

[2015-06-23 12:37] #127 closed, assigned to nobody

[2015-06-23 13:34] jgodi opened #128 "Advanced Context Menu?"
Is there a way to make the Context Menu be a menu with more choices rather than just a single button?

For example:

[code]

[2015-06-25 11:49] iamolivinius commented on #126
Is there any way to download older kango releases?

[2015-06-30 09:45] enguerranws opened #129 "Access browser's settings ?"
Hi !

I was wondering if there any way to access browser's setting ? I'm currently trying to make an extension that open an url on new tab / new window, so the simplest way would be to change default browser's homepage.

If it's not possible to access those settings with Kango API, do you see any way to achieve something that wuld have the same behavior using Kango API ?

[2015-07-03 13:05] duncanmhor opened #130 "Sandboxing in IE"
Hi,

I understand that you are near to implementing this feature. Could you advise on a likely release date?

Thanks

[2015-07-03 17:14] iamolivinius opened #131 "Kango extensions do not work in current Firefox nightly"
checked out the latest christmas tree sample from the sample repository and build it with kango 1.7.6.

in chrome: a christmas tree appears in every single webpage
in firefox nighty(42.0a): NO christmas tree appears

In FF browser console i can see new messages. "unsafe CPOW usage"

I tested it to against the current nightly. This issue probably appears on earlier versions of FF too.

[2015-07-06 01:02] akrylysov commented on #131
Firefox 42 is not currently supported. We are working on it.

[2015-07-06 01:23] akrylysov commented on #130
Was fixed in Kango 1.7.9.

[2015-07-06 01:23] #130 closed, assigned to nobody

[2015-07-06 01:42] akrylysov commented on #126
@iamolivinius if you purchased commercial license, you can download older releases in your dashboard.

[2015-07-06 01:43] akrylysov commented on #126
Kango 1.7.9 was resubmitted to addons.mozilla.

[2015-07-06 01:43] akrylysov commented on #122
Kango 1.7.9 was resubmitted to addons.mozilla.

[2015-07-06 01:43] akrylysov commented on #126
Duplicate to #122.

[2015-07-06 01:43] #126 closed, assigned to nobody

[2015-07-06 01:44] akrylysov commented on #111
Duplicate to #122.

[2015-07-06 01:44] #111 closed, assigned to nobody

[2015-07-06 01:44] akrylysov commented on #129
There is no way to change browser settings in Kango.

[2015-07-06 01:44] #129 closed, assigned to nobody

[2015-07-06 01:45] #110 closed, assigned to nobody

[2015-07-06 01:48] akrylysov commented on #128
Not supported in current version.

[2015-07-06 01:50] jgodi commented on #128
Are there any plans in future versions? If so could you say a timeframe? Would love to use this framework, just my extension relies on this feature.

[2015-07-06 10:21] itonics-tbeauvais opened #132 "Does Kango have screen shot support?"
Just a simple questions..

does Kango support cross browser screen shot capabilities?

[2015-07-06 11:30] iamolivinius commented on #131
Great news!

Will this be in time for the official FF release date on Nov. 3rd?
Are u gonna switch internals to add-ons SDK?

[2015-07-07 01:21] akrylysov commented on #131
Sure, we will release new version before new Firefox release.

No, we don't have such plans.

[2015-07-07 01:21] akrylysov commented on #132
It doesn't, but you can use JS library like http://html2canvas.hertzen.com/

[2015-07-08 10:21] ThoranCheLadra opened #133 "Adding styles to the page not working on Kango 1.7.9 [IE ONLY]"
Hi,

One of the features of our plugin is to add on-page controls, for which we have styles stored in stylesheet. In previous versions of Kango, we could simply include them by appending them to the page's HEAD with jQuery. This doesn't work anymore. I've tried other ways such as native javascript but no success so far; it appears. Below is a code snippet that worked on  <= 1.7.7 and doesn't on 1.

[2015-07-08 11:21] ThoranCheLadra opened #134 "Including jQuery 1.11.1 causes errors on some pages on IE <= 10 [Kango ver1.7.9]"
Hi there,

I've sent by email a sample plugin showing this error on the Google sign in page. I'm not entirely sure wether it is sandbox related or else, but this seldom happens to certain pages and causes them to break the rest of the content script.

[2015-07-09 11:05] ThoranCheLadra opened #135 "Cannot run content script on file:// URLs"
I couldn't get the content scripts to run on file:// url types, I've tried the following patterns with no success:
- file://*
- file:///*
- *
  -file:*

[2015-07-09 11:52] akrylysov commented on #135
`file` protocol is not supported, it is a limitation of browsers.

[2015-07-09 12:28] ThoranCheLadra commented on #135
Alright, thanks. Closing the issue.

[2015-07-09 12:28] #135 closed, assigned to nobody

[2015-07-09 22:47] akrylysov commented on #133
Do you use `var $ = window.$.noConflict(true);` in your script?

The following code works great:

[code]

[2015-07-10 08:58] ThoranCheLadra commented on #134
Following our conversation I can confirm this also happens without the modified browser.part.js file you supplied earlier. The Javascript error is "Permission denied"; I'm actively looking for more pages that cause the same issue to happen just now, will get back to you on this asap.

[2015-07-10 09:10] ThoranCheLadra commented on #134
Switching to jQuery 1.11.3 fixed the issue, closing this.

[2015-07-10 09:10] #134 closed, assigned to nobody

[2015-07-10 09:50] ThoranCheLadra commented on #133
Issue was caused by unreachable statement when fetching asynchronously a css file, closing this. Thanks

[2015-07-10 09:50] #133 closed, assigned to nobody

[2015-07-14 11:29] ThoranCheLadra opened #136 "[IE][Kango 1.7.9] Content scripts can access the webpage's variables"
The content scripts on IE can access any window variables from the webpage it runs, meaning I can read the page's jQuery or any other window variables they might have. This causes conflict issues where the libraries hosted on the webpage may conflict with the libraries used in the content scripts.
I reckon this is why jQuery needs to be declared using noConflict on content scripts as well, on IE.

[2015-08-04 09:51] ThoranCheLadra commented on #136
Hey guys,

Any news on this?

Cheers,
Arthur.

[2015-08-04 20:13] dthomp24 opened #137 "dispatchMessage not working in IE11 - kango 1.7.9"
The MessagingDemo does not work in IE11 on Windows 7. The dispatchMessage call in main.js produces the console output, "Error in script (unknown): Object doesn't support this property or method".

[2015-08-06 01:16] akrylysov commented on #136
We are working on a workaround.

[2015-08-11 09:42] iamolivinius opened #138 "TypeError in FF39+ when loading kango-ui/kango_api.js"
When I try to to run the `kango-ui/kango_api.js` file in FF39+ I get the following error at the browser console:

[code]

I'm using kango version 1.7.9, a vanilla kango project, and a plain HTML5 skeleton file.

[2015-08-11 09:54] iamolivinius commented on #131
Are you planing to support extension signing as an option for the kango cli? Because FF42+ won't run unsigned extensions anymore.

[2015-08-11 12:55] akrylysov commented on #131
You shouldn't sign the extension manually, you should upload it to AMO. More details https://wiki.mozilla.org/Addons/Extension_Signing.

[2015-08-11 13:07] iamolivinius commented on #131
Sorry, my bad. Stumbled over this link a few seconds ago. Thanks

[2015-08-18 23:24] iamolivinius opened #139 "kango.ui.notifications do not work in firefox"
I tried the following code within a new kango project

[code]

[code]

is added to the extension_info.json file.

Works in Chrome but not in Firefox. The documentation does not limit this functionality to specific browsers.

[2015-08-19 01:04] akrylysov commented on #139
What is your OS and Firefox version?

[2015-08-19 08:52] iamolivinius commented on #139
Ubuntu 15.04 and Firefox 40

[2015-08-20 02:36] akrylysov commented on #139
Works fine on Ubuntu 15.04 and Firefox 40 for me. Could you please try to create a new profile?

[2015-08-20 09:39] iamolivinius commented on #139
I created a new profile using the ProfileManager but without any difference. Still no notifications are shown. Nevertheless I noticed a TypeError at the BrowserConsole a few seconds after starting Firefox. Don't know if it's related to this issue.

![screenshot from 2015-08-20 11 31 37](https://cloud.githubusercontent.com/assets/832245/9380351/0572ea62-4730-11e5-9abe-36c1b6213c05.png)

[2015-08-20 09:40] iamolivinius commented on #139
BTW, I'm using the latest kango version 1.7.9.

[2015-08-21 11:53] iamolivinius opened #140 "Extend kango API to inject content scripts programmatically"
Would it be possible to extend the kango API to provide methods similar to

https://developer.chrome.com/extensions/tabs#method-executeScript or
https://developer.mozilla.org/en-US/Add-ons/SDK/Guides/Content_Scripts

This would make it possible to inject content scripts into tabs from a background script.

[2015-08-21 18:33] craig-forster-sp commented on #122
Any update on this?

[2015-08-22 14:01] akrylysov commented on #122
You should use version 1.7.9.

[2015-08-22 14:04] #122 closed, assigned to nobody

[2015-08-24 07:56] nattster commented on #122
@akrylysov  Today, I just submitted extension with Kango 1.7.9 to Preliminary review with Firefox.
I'm still getting:

`1) I'm sorry, we currently allow Kango 1.7.0 and 1.7.1 only. Please use either of these versions.`

Should I try Full Review?

[2015-08-24 22:26] iamolivinius commented on #117
This is still a matter of interest for me and I'd love to get some feedback on this, please.

I did some debugging of the `kango/invoke_async` module today and found out that the "intermediate" callback only handles one argument. So as for today I'd rephrase my request to be more general:

Can you improve the invokeAsyncCallback method in a way that we can write callback functions with multiple ar

[2015-09-03 07:29] longman694 opened #141 "[Firefox] Kango 1.7.9 has not been approved by AMO"
Due to issue #122, I have used Kango 1.7.9 for my extension but it's still rejected by AMO.
#### Email from AMO

[code]

[2015-09-04 00:59] #132 closed, assigned to nobody

[2015-09-09 13:05] ThoranCheLadra commented on #136
Any progress? :smile:

[2015-09-23 03:28] brian-chun-sp commented on #131
FF 41 has just released today. Do we have a solution for supporting FF 42 yet?

[2015-10-01 08:45] ar7casper commented on #137
@dthomp24 Did you find a solution?
I'm on win8.1 & IE11

[2015-10-01 17:51] nexspy opened #142 "working with iframe"
I'm trying to read kango.storage values from script loaded inside iframe. The iframe points to internal resource and iframe script is also an internal resource.
Can we do this?

Also, Is there a way to communicate between content script and the script inside an iframe loaded from internal resource?? Cannot use kango API inside the script within iframe.

[2015-10-05 01:32] akrylysov commented on #137
It was fixed in Kango 1.7.10.

[2015-10-05 01:32] #137 closed, assigned to nobody

[2015-10-06 13:15] dthomp24 opened #143 "ContextMenuIItem not working in IE11"
The ContextMenuItem is not working in IE11 using kango 1.7.9 or 1.7.10. After compiling the [ContextMenuItem sample](https://github.com/KangoExtensions/kango-samples/tree/master/ContextMenuItem) and running it in IE11, the kango.ui.contextMenuItem.event.CLICK handler does not run. There is a console log message in main.js that does not get displayed.

[2015-10-07 10:43] ar7casper commented on #137
Hello Artem,

Thank you for your reply.
Could you please help me understand what was fixed under -
"IE: Content script engine bug fixes"
under the fixes of 1.7.9?

Thank you in advance,
Alex Raihelgaus.

Alex

On Mon, Oct 5, 2015 at 4:32 AM, Artem Krylysov notifications@github.com
wrote:

[2015-11-02 04:02] akrylysov commented on #143
Was fixed in Kango 1.7.11.

[2015-11-02 04:02] #143 closed, assigned to nobody

[2015-11-15 01:07] olloff opened #144 "Firefox e10s support in Kango"
Hi. Firefox enabled its multiprocess environment in Firefox Developer Edition (Aurora build) recently. And Kango, as you must be knowing, doesn't support e10s mode (Firefox Aurora and Firefox Nightly working almost flowless with e10s disabled).

Will Kango support e10s, do you can sound any milestone?

[2015-11-15 17:35] akrylysov commented on #144
e10s support is already implemented in Kango, we are fixing minor issues and testing it right now.

[2015-11-15 20:49] olloff commented on #144
Nice to hear that, @akrylysov, thank for your answer.

[2015-11-15 20:49] #144 closed, assigned to nobody

[2015-11-17 10:04] ar7casper opened #145 "kango.ui.notifications not working"
When using kango.ui.notifications -
     kango.ui.notifications.show('Notification title', 'Notification text', http://kangoextensions.com/images/logos/kango.png', function() {
    kango.console.log('Notification click');
});

In notifications.js it breaks on chrome.notifications.create, here's the exception -
Cannot read property 'create' of undefined

Added the required permissions, can't find a

[2015-11-17 13:23] #145 closed, assigned to nobody

[2015-12-08 17:47] sgavade opened #146 "Need commercial license"
Hi,

I need a commercial license of kango. I have also sent you an email regarding this. I look forward to your response.

Regards,
Sameer

[2016-01-09 11:30] olloff commented on #144
@akrylysov I feel, I need to bump this question once again.

Last version of Kango stated on [your page](http://kangoextensions.com/kango.html) is 1.7.9. Does e10s support already implemented in that particular version?

If not, do you have any ideas when you plan to ship e10s version?

[2016-01-10 05:06] akrylysov commented on #144
e10s implemented in version 1.8.0 http://kangoextensions.com/blog/2016/01/09/version-180/.

[2016-01-10 05:07] akrylysov commented on #131
Fixed in 1.8.0.

[2016-01-10 05:07] #131 closed, assigned to nobody

[2016-01-10 10:12] olloff commented on #144
Now I feel like you've made it just for me. Many thanks!

[2016-01-13 13:27] thekevinbrown opened #147 "kango.ui.optionsPage.open() requires "tabs" permission on Chrome when it doesn't need to"
Hi guys,

Our extension doesn't require the "tabs" permission because we don't need any of that advanced stuff. I noticed without this permission `kango.ui.optionsPage.open()` seems to fail silently on Chrome.

I tested, and `chrome.runtime.openOptionsPage()` works fine without the tabs permission, so I'm currently using this code:

[code]

I think `kango.ui.optionsPage.open` should simply transla

[2016-01-16 17:29] akrylysov commented on #147
It's not possible to implement `kango.ui.optionsPage.open` using `chrome.runtime.openOptionsPage` because `kango.ui.optionsPage.open` accepts `hash` argument.

[2016-01-16 17:29] #147 closed, assigned to nobody

[2016-01-17 06:41] thekevinbrown commented on #147
In that case could you mention the required permission on the documentation here:

http://kangoextensions.com/docs/api-reference/kango-ui-optionsPage.html

It was really confusing that it just silently failed once the pages permission was gone.

[2016-01-17 06:42] thekevinbrown opened #148 "Update documentation as per request in #147"
Hi guys,

It was really confusing that opening the options page failed when users didn't want to allow us to access their entire browsing history.

Could you please add a comment to the documentation to explain why the pages permission is a requirement to open the options page?

Mentioned in #147, but I can't re-open it.

[2016-01-18 14:18] zloidemon opened #149 "[firefox]: bugfix options_page"
[code]

[2016-01-25 05:13] dovy commented on #146
I as well, or at least details. My product is a free community project. I still need IE though.  :P

[2016-01-25 14:57] dovy opened #150 "Safari icon black?"
https://cloudup.com/cpy-m9ceEgH

Works fine in Chrome, just Safari.

Safari 9.0.3 on mac.

[2016-01-25 15:00] dovy opened #151 "Firefox dev?"
I can't seem to even load the Firefox extension to test it as it's not signed because your project doesn't seem to be using JPM from Mozilla.

Can we remedy this, or do you know how I can bypass the "security check" and just install the addon for testing?

[2016-01-25 15:01] eppfel commented on #150
Yes, this is quite annoying. Safari needs a special png as mask: https://developer.apple.com/library/safari/documentation/Tools/Conceptual/SafariExtensionGuide/AddingButtonstotheMainSafariToolbar/AddingButtonstotheMainSafariToolbar.html
I manually replace the icon in the Safari Extension Builder for now. No better solution right now.

[2016-01-25 18:52] dovy commented on #150
Wow, I know illustrator and photoshop, but there are like no tutorials on how the crap to do this. hah.

[2016-01-25 18:52] dovy commented on #150
Thanks though. I'll find how to do it and report here.

[2016-01-25 18:52] #150 closed, assigned to nobody

[2016-01-25 22:48] akrylysov commented on #151
Not a Kango issue, check this https://blog.mozilla.org/addons/2016/01/22/add-on-signing-update/

[2016-01-25 22:48] #151 closed, assigned to nobody

[2016-01-27 03:30] akrylysov commented on #150
You can just put Safari specific icon.png to your src/safari/icon directory.

[2016-01-28 09:21] ar7casper opened #152 "Firefox behaves badly"
Hi,

Developed an extension using kango using 1.8.0.
Works great on Chrome & Safari, but FF is causing problems.
These are the problems I've found so far -
1. Storage - I ran a test, saved some data on the content script to the storage. Checked that it was saved. Then, next time I open the extension, the data disappears....
2. Messaging doesn't always work, when a tab is opened, everything works g

[2016-02-03 17:52] prestonwho opened #153 "Kango 1.8.0 breaks @all-frames header directive in Firefox"
Hey -

I have written an extension that relies on the all-frames directive. Under Kango 1.7.9 my script works fine using the following:

[code]

Under Kango 1.8.0, my script continues to work for iframes under Chrome, but under Firefox (Developer Edition 46.0a2, tested both with and without e10s) the userscript appears to be included only on the main page (not in iframes). If I right-click, select

[2016-02-04 08:48] ar7casper opened #154 "IE fails to stringify/parse arrays"
After using kango.storage.getItem on an array, the array that is returned is CSV.
No map, reduce, etc.

`var foo = ['bar1', 'bar2'];`
`kango.storage.setItem('foo', foo);`
`var outcome = kango.storage.getItem('foo');`
`outcome.map(funciton(v){`
`console.log(v);`
`});`

The code breaks on the map method -

When I print out the type of "outcome", i get [object Object] instead of [object Array].

I re

[2016-02-04 13:56] akrylysov commented on #154
We are looking for a way to fix the issue, meanwhile you can use this workaround:

[code]

[2016-02-07 04:16] thekevinbrown commented on #152
That's odd. Firefox storage is working just fine for us in our extension. Are you saving async, or synchronously? In some contexts saving or retrieving Kango storage options wasn't working for us until we switched over to doing this:

http://kangoextensions.com/docs/api-reference/kango.html#kango.invokeAsync

e.g. it'd work in Chrome and FF but not Safari, or similar weird behaviour. I finally fou

[2016-02-07 09:55] ar7casper commented on #154
Hi,

Thank you for your reply.
Do you have an estimate on when it's going to be ready?

Another issue I encountered -
I'm using window.postMessage to communicate different things.
When I'm using window.postMessage from the console, all works, when I click
somewhere in the app where it
invokes the postMessage, I get the following msg - "No such interface
supported".
(On IE).
Do you know this proble

[2016-02-08 17:09] StephenBrown2 opened #155 "Request: Python 3 support"
Greetings,

I would like to request Python 3 support for this framework.

I've run [futurize](http://python-future.org/automatic_conversion.html) on the codebase, and aside from a slight tweak to the sorting in kango/commands/build.py, line 31, it works perfectly fine on my Python 3.5.

If the codebase was here, I'd submit a pull request, but alas, I can't.

[2016-02-16 08:15] klochko opened #156 "Need kango 1.7.9 ver"
Hi
Please help me.

I need 1.7.9 ver because firefox store don't accept 1.8.0

Where I can download 1.7.9 ver ?

http://kangoextensions.com/kango/kango-framework-latest.zip - Only 1.8.0

Thanks

[2016-02-16 21:49] dewelopinweb commented on #156
Hi

AMO comment:
Kango 1.8.0 has not yet been approved for use on addons.mozilla.org. Please use version 1.7.9 until Kango has submitted the latest version for approval.

Please, help find Kango 1.7.9

Thanks

[2016-02-17 17:36] EngrAhsanAli commented on #141
Please downgrade to 1.7.9

[https://drive.google.com/file/d/0B-j3X0RoYciuY0JYN2pTdnY3cFU/view?usp=sharing](Kango 1.9.0)

[2016-02-17 17:39] EngrAhsanAli commented on #122
Please downgrade to 1.7.9

https://drive.google.com/file/d/0B-j3X0RoYciuY0JYN2pTdnY3cFU/view?usp=sharing

[2016-02-26 11:23] kewisch commented on #141
By now we accept Kango 1.7.1 and 1.7.9. This specific issue can be closed.

[2016-02-26 20:22] adamn opened #157 "Submit version 1.8.0 to addons.mozilla.org"
Instead of #156 please submit 1.8.0 to Mozilla.  I've already asked them and they're happy to review it once it has been submitted.  We can't submit extensions to Mozilla until 1.8.0 has been submitted (unless we downgrade to the old version of Kango).

[2016-03-06 11:27] ierror opened #158 "Chrome extension not working"
I downloaded the latest version and got my first extension running in Firefox and Safari \o/
On Chrome i get this error:

`browser_button.js:11 Uncaught ReferenceError: teio is not defined`

Does anybody know what trio is for? It seems like a typo, there is only one match for:

`grep -R teio ../kango/
../kango//src/js/chrome/kango-ui/browser_button.part.js:function BrowserButton(t){BrowserButtonBa

[2016-03-08 16:59] adamn commented on #157
Any update on this?  It's blocking our submission to the Mozilla store.

[2016-03-13 22:04] akrylysov commented on #158
Where did you get your framework version? Kango doesn't contain any `teio` references. Try to download Kango from http://kangoextensions.com/kango/kango-framework-latest.zip.

[2016-03-15 00:11] #158 closed, assigned to nobody

[2016-03-18 14:22] adamn commented on #157
Any update on this?

[2016-03-27 13:10] ar7casper commented on #154
Hi,

Can you help us with updates regarding IE & FF?

[2016-03-30 10:50] suyogdilipkale commented on #81
@akrylysov, We are commercial product development company and want to use your desktop browser extension api for one of our product.  We are evaluating browser extensions to extend our product feature supported on **FF,Chorme, Safari, IE.** Our software product is still in conceptualization phase. We will be providing browser extension to our that will allow user to refer web sites contents and sh

[2016-04-02 10:01] iamolivinius commented on #156
1.7.9

https://github.com/secure-software-engineering/rose/tree/a7504310465158159ebc8eb92b06907a1a69379f/kango

[2016-04-02 10:18] iamolivinius commented on #152
1. Make sure you don't clear caches and/or history in Firefox on shutdown.
2. This is how I do message passing with kango:

[Background message listener](https://github.com/secure-software-engineering/rose/blob/refactor/app%20%28copy%29/background_app.js#L30)
[Background message handler](https://github.com/secure-software-engineering/rose/blob/refactor/app%20%28copy%29/rose/message-handlers/storag

[2016-04-03 03:14] thekevinbrown commented on #152
@iamolivinius, can you tell me more about FF's 'weird behaviour' with the `window` object from content scripts? We're seeing this: https://github.com/toolkit-for-ynab/toolkit-for-ynab/issues/132

Basically for every other browser, hitting save on our options page then reloading the app will apply your updated settings. For FF, this isn't true until you open a new tab. The way features are loaded i

[2016-04-03 03:15] thekevinbrown commented on #157
I went back to 1.7.9 for the time being.

[2016-04-03 03:18] thekevinbrown commented on #156
It's also here: https://github.com/toolkit-for-ynab/toolkit-for-ynab/tree/master/lib/kango-framework-latest

[2016-04-04 14:00] adamn commented on #157
Do you have a link for 1.7.9 or can you post it?

##

About Adam: www.linkedin.com/in/adamcnelson

On Sat, Apr 2, 2016 at 11:15 PM, Kevin Brown notifications@github.com
wrote:

[2016-04-04 14:03] thekevinbrown commented on #157
Here's the copy I grabbed a while ago: https://github.com/toolkit-for-ynab/toolkit-for-ynab/tree/master/lib/kango-framework-latest

[2016-04-06 05:10] shivam01990 opened #159 "I want to create IE extension using kango"
Hello,
I have asked query on support email but not getting any response from them.

[2016-05-10 05:01] dhobaleabhijit opened #160 "Is it possible to use angular js in kango?"
I am trying to implement extension using kango. I want to use angular js as well. So is it possible? If yes then how? Means where to define app and controller for the code inside content.js. Thanks in advance for your help.

[2016-05-14 16:30] scancel commented on #47
If anyone is looking for @kfatehi gem in a windows version, you can find it here:
https://github.com/scancel/kango/commit/31f8fee857f2b3e9dba09fe383157739d5ec2eed

[2016-05-31 12:38] #160 closed, assigned to nobody

[2016-06-07 12:47] dhobaleabhijit opened #161 "Unable to set locale"
Hello,
As per documentation (version 1.8.0) I can able to get messages from locale json file. But how can I set or change current locale? I tried for kango.i18n.setCurrentLocale('ru'); but it gives me error message like 'setCurrentLocale is not function'

Please reply ASAP.

[2016-06-14 14:12] SplatDevs opened #162 "Xml documents won't load properly in firefox."
When i try GET any xml document, which should be parsed with browser in mozilla - i get null object as response.
According to sources send function returns XMLDocument object as response property. But when i left extension code executing side, and come back to content script -  XMLDocument dissapears.
Chrome haven't this issue yet.

[2016-07-31 03:55] thekevinbrown opened #163 "Extension icon re-appears in Firefox"
## Reproduction Steps
- Run `python kango-dir/kango.py create .` in a new project directory
- Use the project name of `Test`
- Run `python kango-dir/kango.py build .`
- Load the .xpi into Firefox
- Right click and select "Remove from Toolbar"

![screen shot 2016-07-31 at 1 51 33 pm](https://cloud.githubusercontent.com/assets/1531750/17274476/f59b1b58-5725-11e6-88ab-9a0834ef5c57.png)
- Reboot the c

[2016-07-31 10:04] AlexisN opened #164 "Chrome-instant functionality create bug."
To begin, thank you for your work.

I found that Kango , do not change the pages wondering when Google Chrome use "chrome-instant" functionality.

Have you an solutions ?

To check, you can use ChristmasTree sample.

[2016-08-02 10:59] VitalyOrbit opened #165 "Build crashed if default_locate is not "en""
[   INFO] Contact extensions@kangoextensions.com to enable IE support
[   INFO] Running Kango v1.8.0
[   INFO] Building chrome extension...
Traceback (most recent call last):
  File "kango/kango.py", line 18, in <module>
    main()
  File "kango/kango.py", line 10, in main
    CommandLineProcessor().process()
  File "/run/media/local/USB DISK/PROJECTS/CROSS/kango/kango/commands/processor.py", line

[2016-08-02 15:22] VitalyOrbit commented on #165
Found bug.
My locale JSON was correct, but key was  `"__info__description__"` instead of `"__info_description__"` (double dush in the middle).
My failure, but I don't think there should be that exception.

[2016-08-02 15:22] #165 closed, assigned to nobody

[2016-08-14 21:01] AlexLongToptal opened #166 "Safari BEFORE_NAVIGATE doesn't have KangoBrowserTab"
The `event` object returned to the `BEFORE_NAVIGATE` listener in Safari only has a `url` property. It doesn't have a `target` property pointing to the BrowserTab object as the documentation says:

`BEFORE_NAVIGATE   // Fired when request starts
event = {
    KangoBrowserTab target,
    string url
}`

Without `target`, there's no way to reference the tab that actually triggered the event. You can a

[2016-10-03 12:58] OlivierBonjour commented on #153
Hi, I'm having the same problem, are you still on 1.7.9 or you found a way to fix this on 1.8.0 ?

[2016-10-03 13:20] prestonwho commented on #153
I haven't tried again with 1.8.0 since shortly after opening this thread. With no update and no response, I've been content to stick with 1.7.9.

[2016-10-10 10:19] ferdibiflator opened #167 "[Firefox][1.8.0], content-script's messageListener callback doesn't have access to window.* properties"
There is a problem with access to window.\* properties inside message listener's callback in Firefox with kango 1.8.0. This problem doesn't occur in kango 1.7.9.

For example, if I do in content-script:

[code]

and in background-script:

[code]

I'll get a message from Firefox:

I solved this problem by calling a callback in Promise:

[code]

[2016-11-24 14:34] emmabartner commented on #167
Hello,
could you tell me where do you place this file in order to MessageListener object to be available in content scripts ?

Thx !

[2016-11-25 11:37] ferdibiflator commented on #167
Hello @emmabartner.
I have complex structure for my project and I build bundle with Webpack.

**Webpack bundle approach**
You can place it next to content script.
As this is CommonJS module. In content script you need to do
`const MessageListener = require('./MessageListener');`
 Then use webpack for bundle building and describe the resulting bundle file in `extension_info.json` file:
[code]
In th

[2016-12-06 13:21] emmabartner commented on #167
Thank you for the answer.
It works, but the problem is not fully resolved.

It seems that some previous listeners are still present even after reloading the page.
This cause multiple calls to old & invalid listeners.

We can clearly see this problem with Kango's MessagingDemo.

After loading twitter.com and refreshed 2 times (see the triple message for the same listener on just one tab) :
![image]

[2017-02-09 14:01] antriver commented on #157
+1. This is a showstopper if we can't use Kango to actually release an extension!

I can't believe this issue is almost a year old.

[2017-02-27 11:07] yasirrose opened #168 "How to load kango extension in the chrome browser."
I am new to kango. I have an extension developed in kango but i don't know how to load/install this extension in kango because normally "menifest.json" file is loaded in chrome to install the extension but I can't find "menifest.json" file . How i can load the extension in chrome ?

[2017-04-03 10:22] eppfel opened #169 "404 on http://kangoextensions.com/kango/kango-framework-latest.zip"
Kango can not be downloaded right now!

[2017-08-16 05:46] man-of-fox commented on #169
Do you continue development of kango-Framework? Is it possible to download the current version from your site? Currently I also get the 404 Error, like eppfel does in april, if I use the link on the title.

[2017-08-16 07:45] alireza-ansaripour opened #170 "Publish addon in mozilla AMO"
I've just used kango to create an extension and I want to publish that extension in [https://addons.mozilla.org](url). But when I upload the .xpi file, I get the error `Starting with Firefox 53, new extensions on this site can only be WebExtensions.` . How to create a WebExtension in kango

[2017-08-24 20:34] eppfel commented on #169
There is an archived version: http://web.archive.org/web/20160623024659/http://kangoextensions.com/kango/kango-framework-latest.zip

[2017-09-07 15:05] Falpangaea commented on #128
Has this been updated and resolved?  Or is it still not supported?

[2017-10-25 18:22] Ododo commented on #170
As explained in [this page ](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension)
Chrome extensions can be loaded in Firefox latest versions (using the WebExtensions API)
So try to load the manifest.json in the **chrome output** of Kango and see if it works.
Of course it is a temporary fix but it works for me (I have a single-popup app)
Maybe a few changes w

[2017-10-26 09:01] OlivierBonjour commented on #170
I also successfully used the chrome output for firefox, you have to adapt the manifest a little bit but it works. Anyway, this project seems to be dead so I don't suggest using Kango if your starting a new extension.

[2017-12-16 10:04] alexvaa opened #171 "incompatibility with FF 57.0.1"
Hi, how can i combine Kango with new FF features
https://support.mozilla.org/en/kb/razvitie-tehnologii-dopolnenij-firefox

[2018-07-29 14:31] lexoyo commented on #168
you should find the manifest.json in `your-ext/output/chrome/`
then open [chrome://extensions/](chrome://extensions/) in chrome and select developer mode in the right upper corner
click "load unpacked" and select the `your-ext/output/chrome/` folder

[2018-08-19 16:56] neoighodaro commented on #128
Is this still happening?

[2018-10-26 06:48] Jai-Kumaresh opened #172 "Error in response to tabs.query: TypeError: Cannot read property 'url' of undefined"
I will clone kango samples and build **ContextMenuItem** sample project. Add that output chrome folder in chrome extension now i have one error in **background.html** console. And background.html scources not in **content.js** file.

**Error in response to tabs.query: TypeError: Cannot read property 'url' of undefined
    at BrowserTab.getUrl (chrome-extension://ndadcfapjelifpiknbkheiopbccmkapm/ka